<ion-header>
  <ion-navbar color="red">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lịch sử đổi quà
      <span *ngIf="length">{{'(' + length + ')'}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="listPromo">
    <ion-row class="wrapper-info-payment" *ngFor="let item of listPromo">
      <div class="item-wrapper">
        <ion-item >
            <button ion-button clear color="light" type="button" item-left>
              <img src="{{item.featured_images[0] || '../../assets/imgs/icon-gift-card.png'}}">
            </button>
            <ion-title class="protect">
              Thông tin của bạn đã được mã hóa và bảo đảm an toàn theo quy định của pháp luật.
            </ion-title>
          </ion-item>
      </div>

      <!-- <div col-4>
        <div class="img-wrapper" *ngIf="item.featured_images">
          <img src="{{item.featured_images[0] || '../../assets/imgs/default.png'}}">
        </div>
        <div class="img-wrapper" *ngIf="!item.featured_images">
          <img src="../../assets/imgs/default.png">
        </div>
      </div>
      <div class="info-right" col-8>
        <div class="content-wrapper">
          <div class="name-payment text">
            <ion-icon name="ios-heart" style="color: white; padding-right: 5px"></ion-icon>
            <span>Khuyễn mãi: </span>
            {{item.name}}
          </div>
          <div class="member-payment text">
            <ion-icon name="ios-infinite" style="color: white; padding-right: 5px"></ion-icon>
            <span>Số lượng đổi: </span>
            {{item.quantity}}
          </div>
          <div class="date-payment text">
            <ion-icon name="timer" style="color: white; padding-right: 5px"></ion-icon>
            <span>Ngày đổi : </span>
            {{item.created_atText}}
          </div>
          <div class="date-payment text">
            <ion-icon name="ios-chatboxes-outline" style="color: white; padding-right: 5px"></ion-icon>
            <span>Ghi chú : </span>
            {{item.description}}
          </div>
          <div class="status-payment">Đã đổi</div>
        </div>
      </div> -->
    </ion-row>
  </div>
  <div *ngIf="!listPromo">
    <h1 style="color:white; width:100%" text-center>Chưa có khuyến mãi nào!</h1>
  </div>
  <div>

  </div>

</ion-content>