page-list-promo {
    background-color: white;
    font-family: $SFUIDisplayMedium;
    .wrapper-info-payment {
        font-size: 14px;
        border-bottom: 1px solid #d6d3d3;
        padding: 10px 0;
        .info-right {
            position: relative;
            float: left;
            font-size: 16px;
            .text {
                padding-bottom: 8px;
                font-family: $SFUIDisplayMedium;
                span {
                    font-size: 14px;
                    font-family: $SFUIDisplayLight;
                }
            }
            .content-wrapper {
                color: white;
                padding-left: 10px;
            }
            .status-payment {
                font-size: 14px;
            }
        }
        .status-payment {
            margin-bottom: 5px;
            border-radius: 60px; // border: 1px solid #00b749;
            background-color: #00b749;
            padding: 5px 5px 5px 5px;
            text-align: center;
            color: white;
            max-width: 150px;
            text-transform: uppercase;
        }
    }
    .img-wrapper {
        text-align: center;
        overflow: hidden;
        img {
            border: 6px solid white;
        }
    }
}