page-history-share {
  background-color: white;
  .refresher-refreshing .spinner-crescent circle, .refresher-refreshing .spinner-ios line, .refresher-refreshing .spinner-ios-small line{
      stroke : white;
   }
  .wrapper-info-payment {
      border-bottom: 1px solid #d6d3d3;
      padding: 15px 0;
      .info-right {
          position: relative;
          float: left;
          .text {
              padding-bottom: 8px;
              font-family: $SFUIDisplayMedium;
              span {
                  font-size: 14px;
                  font-family: $SFUIDisplayLight;
              }
              &.id-payment {
                  font-family: $SFUIDisplayMedium;
                  font-size: 16px;
              }
          }
          .content-wrapper {
              color: white;
              padding-left: 20px;
          }
      }
      .status-payment {
          margin-bottom: 5px;
          border-radius: 60px; // border: 1px solid #00b749;
          background-color: #00b749;
          padding: 5px 5px 5px 5px;
          text-align: center;
          color: white;
          max-width: 100px;
          text-transform: uppercase;
      }
  }
  .img-wrapper {
      text-align: center;
      overflow: hidden;
      img {
          border: 6px solid white;
      }
  }
  .btn-icon {
      font-size: 25px;
      color: white;
  }
  .text-input {
      height: 25px;
      margin: 0;
  }
  .item-inner {
      border-bottom: solid 1px white !important;
  }
  .searchbar-md .searchbar-input {
      color: orange;
  }
  .searchbar-md .button-clear-md-dark {
      color: orange;
  }

  ion-searchbar {
      &.searchbar  {
        ::placeholder {
          color: orange;
        }
      }
    }
}
