page-login-2 {
    .wrapper {
        background: linear-gradient(150.64deg, #FEB700 0%, #FE7400 100%);
        width: 100%;
        height: 100%;
        .wrapper-login {
            position: relative;
            top: 10%;
            padding: 0 20px 30px;
            .form-login {
                .logo-login {
                    text-align: center;
                    color: white;
                    font-weight: bold;
                    margin-bottom: 50px;
                    .company-name {
                        font-family: $Roboto;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                        font-size: 41px;
                        text-align: center;
                        margin-bottom: 0;
                        span {
                            font-weight: 400;
                        }
                    }
                    .company-slogan {
                        font-family: $Roboto;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        font-size: 24px;
                        text-align: center;
                    }
                } 
                .text-username {
                    color: #666666 !important;
                }
                .text-password {
                    color: #666666 !important;
                }
            }
        }
        ion-item {
            position: relative;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            img {
                position: absolute;
                width: 25px;
                height: 25px;
                top: 5px;
                left: 10px;
            }
        }
        .manage-password {
            position: absolute;
            right: 0;
            bottom: 0;
            color: #666666;
        }
    }
    .button-login {
        margin-top: 50px;
        background: rgba(0, 0, 0, 0.75);
        border-radius: 30px;
        color: white !important;
        padding: 24px 100px !important;
        outline: none !important;
        border: none !important;
    }
    .version {
        position: fixed;
        font-size: 12px;
        font-family: $Roboto;
        bottom: 16px;
        left: 16px;
        color: white;
        &.has-keyboard {
            position: absolute;
        }
    }

    .btn-wrapper {
        width: 100%;
        text-align: center;
    }
    
}
