<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="wrapper">
  <div class="wrapper-login">
    <div class="form-login">
      <div class="logo-login">
        <p class="company-name">PACIFIC <span>GO</span></p>
        <div class="company-slogan">Kính chào quý khách</div>
      </div>
      <div class="input-login">
        <form [formGroup]="loginForm">
          <ion-grid>
            <ion-row padding>
              <ion-item no-padding transparent class="border-input">
                <img src="../../assets/imgs/personal-security.png" alt="" item-start>
                <ion-input required type="text" formControlName="userName" placeholder="Tên tài khoản" (ionFocus)="focusIn()"
                  (ionBlur)="focusOut()"></ion-input>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="loginForm.controls.userName"></control-messages>
              </div>
              <!---Input field password-->
              <ion-item no-padding transparent>
                <img src="../../assets/imgs/protect.png" alt="" item-start>
                <ion-input required type="{{showPass ? 'text':'password'}}" formControlName="password" placeholder="Mật khẩu"
                  (ionFocus)="focusIn()" (ionBlur)="focusOut()"></ion-input>
                <button class="manage-password" ion-button icon-only clear color="dark" type="button" item-right
                  (click)="displayPassword()">
                  <ion-icon name="{{showPass ? 'eye-off' : 'eye'}}"> </ion-icon>
                </button>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="loginForm.controls.password"></control-messages>
              </div>
              <!---Login button-->
              <div class="btn-wrapper">
                <button class="button-login" ion-button center button-clear-outline round outline (click)="onSubmit()">
                  Đăng nhập
                </button>
              </div>
            </ion-row>
          </ion-grid>
        </form>
      </div>
    </div>
    <span class="version" [ngClass]="{'has-keyboard': onInput}">Version 1.0.0</span>
  </div>

</ion-content>