<!--
  Generated template for the CardLinkingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Thẻ liên kết</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="wallet--header">

    <div class="wallet--body">

        <ion-item no-padding class="wallet--body--card" (click) = "gotoAddcard()">
            <button ion-button clear color="light" type="button" item-left>
              <img src="../../assets/imgs/icon-wallet.png" alt="">
            </button>
            <ion-title class="card-title">Thêm liên kết mới</ion-title>
            <ion-title class="card-quantity">Thêm thẻ tín dụng, thẻ ghi nợ</ion-title>
            <button ion-button clear color="light" type="button" item-right class="button-arrow">
              <img src="../../assets/imgs/icon-right-arrow.png" alt="">
            </button>
          </ion-item>

      <p class="wallet-text">ĐÃ LIÊN KẾT(2)</p>
      <ion-item no-padding text-right class="wallet--body--card">
        <button ion-button clear color="light" type="button" item-left>
          <img src="../../assets/imgs/icon-visa.png" alt="">
        </button>
        <ion-title class="card-title">VISA</ion-title>
        <ion-title class="card-quantity">****1234</ion-title>
      </ion-item>

      <ion-item no-padding text-right class="wallet--body--card">
        <button ion-button clear color="light" type="button" item-left>
          <img src="../../assets/imgs/icon-master-card.png" alt="">
        </button>
        <ion-title class="card-title">MASTERCARD</ion-title>
        <ion-title class="card-quantity">****1234</ion-title>
      </ion-item>

    </div>

  </div>

</ion-content>