page-card-linking {
    .wallet--body {
        padding: 30px 20px;
        .wallet-text {
            margin: 10px 0;
            font-size: 12px;
            color: #666666;
            font-family: $RobotoReg;
        }
        &--card {
            margin-bottom: 20px;
            padding: 10px 10px 10px 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            &.item.item-block {
                background-color: white;
            }
            img {
                max-width: 24px;
            }
            .label {
                margin: 0;
            }
            .card {
                &-title {
                    .toolbar-title {
                        color: #666666;
                        font-size: 14px;
                    }
                }
                &-quantity {
                    .toolbar-title {
                        color: #999999;
                        font-size: 12px;
                    }
                }
            }
        }
        .button-arrow {
            margin-right: 0;
            padding-right: 0;
        }
    }
    .button-login {
        background-color: #FE7400;
    }

    
}
