<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="wrapper">
  <div class="wrapper-login">
    <div class="form-login">
      <div class="logo-login">
        <a href="http://pacificgo.asia"><img src="../../assets/imgs/logo_pacificgo.png" /></a>
      </div>
      <div class="input-login">
        <form [formGroup]="loginForm">
          <ion-grid>
            <ion-row padding>
              <ion-item no-padding transparent class="border-input">
                <img src="../../assets/imgs/layout_green/ic_person_blue.jpg" class="icon" item-start>
                <ion-input required type="text" autocomplete='off' autocorrect='off' autocapitalize='off' formControlName="userName" placeholder="Tên tài khoản" (ionFocus)="focusIn()" (ionBlur)="focusOut()"></ion-input>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="loginForm.controls.userName"></control-messages>
              </div>
              <!---Input field password-->
              <ion-item no-padding transparent>
                <img src="../../assets/imgs/layout_green/ic_lock.png" class="icon" item-start>
                <ion-input required type="{{showPass ? 'text':'password'}}" formControlName="password" placeholder="Mật khẩu"
                  (ionFocus)="focusIn()" autocomplete='off' autocorrect='off' autocapitalize='off' (ionBlur)="focusOut()"></ion-input>
                <button class="manage-password" ion-button icon-only clear color="blue" type="button" item-right
                  (click)="displayPassword()">
                  <ion-icon name="{{showPass ? 'eye-off' : 'eye'}}" color="blue" class="iconpass"> </ion-icon>
                </button>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="loginForm.controls.password"></control-messages>
              </div>
              <!---Login button-->
             
            </ion-row>
          </ion-grid>
        </form>
      </div>
    </div>
    <div class="btn-wrapper">
      <button class="button-login" ion-button center button-clear-outline outline (click)="onSubmit()">
        ĐĂNG NHẬP
      </button>
      <p class="register" (click) ="gotoRegister()">Chưa có tài khoản? <span>TẠO TÀI KHOẢN MỚI</span></p>
      <p class="register" (click) ="gotoForgotPassword()">Quên mật khẩu? <span>LẤY LẠI MẬT KHẨU</span></p>
    </div>
    <span class="version" [ngClass]="{'has-keyboard': onInput}">Version 1.0.0</span>
  </div>

</ion-content>