page-login {
    .wrapper {
        .scroll-content {
            background: linear-gradient(150.64deg, $color-1 0%, $color-2 100%);
        }
        width: 100%;
        height: 100%;
        .wrapper-login {
            position: relative;
            top: 10%;
            .form-login {
                .icon{
                    height: 45px;
                    width: 45px;
                    margin: 0;
                    margin-left: -10px;
                }
                .logo-login {
                    text-align: center;
                    color: white;
                    font-weight: bold;
                    margin-bottom: 0;
                    .company-name {
                        font-family: $Roboto;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                        font-size: 41px;
                        text-align: center;
                        margin-bottom: 0;
                        span {
                            font-weight: 400;
                        }
                    }
                    .company-slogan {
                        font-family: $Roboto;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        font-size: 24px;
                        text-align: center;
                    }
                } 
                .text-username {
                    color: #666666 !important;
                }
                .text-password {
                    color: #666666 !important;
                }
                img{
                    max-height: 200px;
                }
                .iconpass{
                    position: relative;
                    top: 9px;
                }
            }
        }
        ion-item {
            position: relative;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                position: absolute;
                width: 25px;
                height: 25px;
                top: 5px;
                left: 10px;
            }
        }
        .manage-password {
            position: absolute;
            right: 0;
            bottom: 0;
            color: #666666;
        }
    }
    .version {
        position: fixed;
        font-size: 12px;
        font-family: $Roboto;
        bottom: 16px;
        left: 16px;
        color: white;
        &.has-keyboard {
            display: none;
        }
    }
    .button-login {
        margin-top: 0;
        background: $colorButton;
        border-radius: 4px;
    }
    .register {
        color: white;
        font-size: 12px;
        span {
            font-family: $RobotoBold;
            text-decoration: underline white;
        }
    }
}