<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Đăng ký thành viên</ion-title>
  </ion-navbar>

</ion-header>




<ion-content padding class="wrapper">
  <div class="wrapper-login">
    <div class="form-login">
      <div class="logo-login">
        <a href="http://pacificgo.asia"><img src="../../assets/imgs/logo_pacificgo.png" /></a>
      </div>
      <div class="input-login">
        <form [formGroup]="registerForm">
          <ion-grid>
            <ion-row>

              <ion-item no-padding transparent class="border-input">
                <img src="../../assets/imgs/layout_green/ic_person_blue.jpg" class="icon" item-start>
                <ion-input required autocomplete='off' autocorrect='off' autocapitalize='off' type="text"
                  formControlName="name" maxlength="100" placeholder="Họ và tên"></ion-input>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="registerForm.controls.name"></control-messages>
              </div>

              <ion-item no-padding transparent class="border-input">
                <img src="../../assets/imgs/layout_green/ic_person_blue.jpg" class="icon" item-start>
                <ion-input required autocomplete='off' autocorrect='off' autocapitalize='off' type="text"
                  formControlName="username" maxlength="80" placeholder="Tên tài khoản"></ion-input>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="registerForm.controls.username"></control-messages>
              </div>

              <ion-item no-padding transparent>
                <img src="../../assets/imgs/layout_green/ic_lock.png" class="icon" item-start>
                <ion-input required autocomplete='off' autocorrect='off' autocapitalize='off' type="{{showPass.pass ? 'text' : 'password'}}"
                  formControlName="password" maxlength="80" placeholder="Mật khẩu"></ion-input>
                <button class="manage-password" ion-button icon-only clear color="light" type="button" item-right
                  (click)="displayPassword('pass')">
                  <ion-icon name="{{showPass.pass ? 'eye-off' : 'eye'}}" class="iconpass"> </ion-icon>
                </button>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="registerForm.controls.password"></control-messages>
              </div>

              <ion-item no-padding transparent class="border-input">
                <img src="../../assets/imgs/layout_green/ic_lock.png" class="icon" item-start>
                <ion-input required autocomplete='off' autocorrect='off' autocapitalize='off' type="{{showPass.confirm ? 'text' : 'password'}}"
                  formControlName="confirmPassword" (ionChange)="validatePassword()" maxlength="80" placeholder="Xác nhận mật khẩu"></ion-input>
                <button class="manage-password" ion-button icon-only clear color="light" type="button" item-right
                  (click)="displayPassword('confirm')">
                  <ion-icon name="{{showPass.confirm ? 'eye-off' : 'eye'}}" class="iconpass"> </ion-icon>
                </button>
              </ion-item>
              <div class="message-wrapper">
                <p class="error-message" *ngIf="confirmPass">{{confirmPass}}</p>
              </div>

              <ion-item no-padding transparent class="border-input">
                <img src="../../assets/imgs/layout_green/ic_phone.jpg" class="icon" item-start>
                <ion-input required autocomplete='off' autocorrect='off' autocapitalize='off' type="text"
                  formControlName="phone" maxlength="11" placeholder="Số điện thoại"></ion-input>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="registerForm.controls.phone"></control-messages>
              </div>

              <ion-item no-padding transparent class="border-input">
                <img src="../../assets/imgs/layout_green/ic_email.png" class="icon" item-start>
                <ion-input required autocomplete='off' autocorrect='off' autocapitalize='off' type="text"
                  formControlName="email" maxlength="80" placeholder="Email"></ion-input>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="registerForm.controls.email"></control-messages>
              </div>

              <ion-col col-4 style="padding-left: 0">
                <ion-item no-padding transparent class="border-input">
                  <!-- <img src="../../assets/imgs/layout_green/ic_calenda.png" class="icon" item-start> -->
                  <ion-input  text-center class="input-time" required autocomplete='off' autocorrect='off' autocapitalize='off' type="tel"
                    formControlName="dayOfBird" maxlength="2" placeholder="Ngày sinh"></ion-input>
                </ion-item>
                <div class="message-wrapper">
                  <control-messages [control]="registerForm.controls.dayOfBird"></control-messages>
                </div>
              </ion-col>

              <ion-col col-4>
                <ion-item no-padding transparent class="border-input">
                  <!-- <img src="../../assets/imgs/layout_green/ic_calenda.png" class="icon" item-start> -->
                  <ion-input  text-center class="input-time" required autocomplete='off' autocorrect='off' autocapitalize='off' type="tel"
                    formControlName="monthOfBird" maxlength="2" placeholder="Tháng sinh"></ion-input>
                </ion-item>
                <div class="message-wrapper">
                  <control-messages [control]="registerForm.controls.monthOfBird"></control-messages>
                </div>
              </ion-col>

              <ion-col col-4 style="padding-right: 0">
                <ion-item no-padding transparent class="border-input">
                  <!-- <img src="../../assets/imgs/layout_green/ic_calenda.png" class="icon" item-start> -->
                  <ion-input  text-center class="input-time" required autocomplete='off' autocorrect='off' autocapitalize='off' type="tel"
                    formControlName="yearOfBird" maxlength="4" placeholder="Năm sinh"></ion-input>
                </ion-item>
                <div class="message-wrapper">
                  <control-messages [control]="registerForm.controls.yearOfBird"></control-messages>
                </div>
              </ion-col>
              <!-- <ion-item no-padding transparent class="border-input">
                <img src="../../assets/imgs/icon-usern.png" alt="" item-start>
                <ion-select formControlName="userRoleId" placeholder="Vị trí">
                  <ion-option *ngFor = "let item of role" value="{{item.code}}">{{item.text}}</ion-option>
                </ion-select>
              </ion-item> -->
              <ion-item no-padding transparent class="border-input">
                <img src="../../assets/imgs/layout_green/ic_gender.png" class="icon" item-start>
                <ion-select formControlName="gender" placeholder="Giới tính">
                  <ion-option value="0">Nam</ion-option>
                  <ion-option value="1">Nữ</ion-option>
                  <ion-option value="2">LGBT</ion-option>
                </ion-select>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="registerForm.controls.gender"></control-messages>
              </div>
              <ion-item no-padding transparent class="border-input">
                <img src="../../assets/imgs/layout_green/ic_location.png" class="icon" item-start>
                <ion-input required autocomplete='off' autocorrect='off' autocapitalize='off' type="text"
                  formControlName="address" maxlength="200" placeholder="Địa chỉ"></ion-input>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="registerForm.controls.address"></control-messages>
              </div>

            </ion-row>
            <ion-row>
              <div class="btn-wrapper">
                <button class="button-login" ion-button button-clear-outline round outline (click)="submit()">
                  ĐĂNG KÝ
                </button>
              </div>
            </ion-row>
          </ion-grid>
        </form>
      </div>
    </div>
  </div>

</ion-content>