page-forgot-password {
    .content-wrapper {
        text-align: left;
        border-radius: 10px;
        background-color: white;
        .row {
            padding: 3px 20px;
            border-bottom: 1px solid #EEEEEE;
            &:last-child {
                padding-right: 0;
                border-bottom: none;
            }
        }
        &:first-child {
            margin-bottom: 10px;
        }
        border: 2px solid $color-1;
        span {
            color: $color-1;
        }
    }
    input.text-input {
        margin: 0;
        padding-right: 10px;
        font-family: $Roboto;
        text-align: right;
    }
    .button-login {
        margin-top: 24px;
        margin-bottom: 24px;
        background-color: $colorButton;
        border-radius: 5px;
    }
    .item.item-block {
        min-height: 32px;
        max-height: 32px;
        .item-button {
            margin: 9px 0px 4px 0;
        }
    }
    .padding-14 {
        padding-top: 14px;
    }
    .protect {
        .toolbar-title {
            text-transform: none;
            font-size: 14px;
            color: #999999;
            font-family: $Roboto;
            padding-left: 0;
        }
    }
    .protect-wrapper {
        img {
            width: 24px;
        }
    }
    ion-content {
        .scroll-content {
            background: $backgound-1 !important;
        }
    }
    .icon {
        text-align: center;
        color: $color-2;
    }
    .icon img {
        height: 30px;
        .error-message {
            color: red;
        }
        .message-wrapper {
            margin-top: 3px;
        }
    }
    .error-message {
        color: red;
    }
}
