<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lấy lại mật khẩu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="input-login">
    <form [formGroup]="changePasswordForm">
      <div class="content-wrapper">
        <ion-grid>
          <ion-row>
            <ion-col col-4 class="padding-14">
              <span>Email: </span>
            </ion-col>
            <ion-col col-8>
              <ion-item no-padding transparent class="border-input">
                <ion-input required  maxlength="200" autocomplete='off' autocorrect='off' autocapitalize='off' formControlName="email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="message-wrapper">
        <control-messages [control]="changePasswordForm.controls.email"></control-messages>
      </div>

      <div class="btn-wrapper">
        <button class="button-login" ion-button center button-clear-outline round outline (click)="submit()">
          Lấy lại mật khẩu
        </button>
      </div>

      <ion-row margin-top>
        <div class="icon">
          <img src="../../assets/imgs/layout_green/ic_security.png" alt=""><br />
          <span class="protect">
            Thông tin của bạn đã được mã hóa và bảo đảm an toàn theo quy định của pháp luật.
          </span>
        </div>
      </ion-row>

    </form>

  </div>
</ion-content>