<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chi tiết sản phẩm</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card class="card card-md" text-center *ngIf="detailData">
    <ion-card-header>
      <div class="img-wrapper">
        <img src="{{detailData.productTN}}" alt="" class="avatar">
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="content-wrapper">
        <ion-row>
          <ion-col col-4>
            <span>Tên sản phẩm: </span>
          </ion-col>
          <ion-col col-8>
            <div class="row-item title-name">{{detailData.productTitle}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <span>Giá: </span>
          </ion-col>
          <ion-col col-8>
            <div class="row-item title-name">{{detailData.priceLow}} - {{detailData.pricehight}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <span>Thời gian: </span>
          </ion-col>
          <ion-col col-8>
            <div class="row-item title-name">{{detailData.openStore}} - {{detailData.closeStore}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <span>Địa chỉ: </span>
          </ion-col>
          <ion-col col-8>
            <div class="row-item title-name">{{detailData.address}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <span>Đánh giá: </span>
          </ion-col>
          <ion-col col-8>
            <div class="row-item title-name">{{detailData.rating}}
              <ion-icon name="star" style ="color: orange"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <span>Thể loại: </span>
          </ion-col>
          <ion-col col-8>
            <div class="row-item title-name">{{detailData.attribute}}</div>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>