page-product-detail {

  .title-name {
        font-size: 1.8 rem !important;
    }
    .img-wrapper {
      img {
        position: absolute;
        max-width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .content-wrapper {
      text-align: left;
    }
    .card-content {
      padding: 0;
    }
    .card {
      background: transparent;
      box-shadow: none;
      width: 100%;
      margin: 0;
      text-align: center;
    }
    ion-card {
      margin: 0;
    }
    .card-header {
      background-color: #FF8C00;
      padding: 0;
    }
    ion-content {
      background-color: white !important;
    }
    .card-header-md + .card-content-md, .card-md .item + .card-content-md {
      padding: 20px;
    }
    .row-item {
      font-size: 16px;
      padding-left: 10px;
      font-family: $SFUIDisplaySemi;
    }
    ion-card-header {
      position: relative;
      padding: 0;
      padding-bottom: 75% !important;
    }
    span {
      font-size: 16px;
    }

}
