<!--
  Generated template for the AddCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Thêm thẻ mới</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <div class="wallet-card">
      <form action="" [formGroup]="wallet">
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label stacked>Số thẻ</ion-label>
                <ion-input transparent autofocus text-center formControlName="cardNumber"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8>
              <ion-item>
                <ion-label stacked>Ngày hết hạn(dd/mm/yyyy)</ion-label>
                <ion-datetime displayFormat="YYYY/MM/DD" formControlName="expiryDate" text-center></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item>
                <ion-label stacked>CVV</ion-label>
                <ion-input transparent autofocus text-center formControlName="cvv"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label stacked>Họ tên in trên thẻ</ion-label>
                <ion-input transparent formControlName="name" autofocus text-center></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
  
  
    </div>
    <div class="wallet-footer">
      <ion-row>
        <div class="btn-wrapper">
          <button class="button-login" ion-button button-clear-outline round outline (click)="submit()">
            Hoàn tất
          </button>
        </div>
      </ion-row>
    </div>
  </ion-content>