page-add-new-card {
    .wallet-card {
        padding: 20px;
        background: linear-gradient(106.33deg, #FFFFFF 0%, #FFFFFF 0.01%, #E7E7E7 100%);
        border-radius: 10px;
    }
    .item-input .label, .item-datetime .label {
        color: #666666 !important;
    }
    .item.item-block {
        padding: 0;
    }
    .item-input ion-input, ion-datetime.datetime{
        padding: 0 !important;
        max-height: 40px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #CCCCCC;
        border-radius: 0;
    }
    ion-datetime.datetime .datetime-text {
        padding-top: 14px;
        
    }
    input.text-input, ion-datetime.datetime .datetime-text {
        font-size: 18px;
        color: #666666;
        text-transform: uppercase;
        font-family: $RobotoBold;
    }
    .button-login {
        background-color: #FE7400;
    }
    .text-input[disabled], .datetime-disabled, .item-datetime-disabled ion-label {
        opacity: 1;
    }
}
