page-list {
  background-color: white;
  .wrapper-info-payment {
      border-bottom: 1px solid #d6d3d3;
      .info-right {
          position: relative;
          float: left;
          color: white;
          padding-left: 10px;
          .text {
              padding-bottom: 5px;
              font-family: $SFUIDisplayLight;
              &.id-payment {
                font-family: $SFUIDisplayMedium;
                font-size: 16px;
                text-transform: uppercase;
              }
          }
      }
  }
  .img-wrapper {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
    img {
      position: absolute;
    }
  }
}
