<ion-header>
    <ion-navbar color="red">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Sản phẩm ưu đãi</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
      <ion-row class="wrapper-info-payment" col-12 *ngFor="let item of productList" (tap)="gotoDetail(item)">
        <div col-4>
          <div class="img-wrapper">
            <img src="{{item.productTN}}">
          </div>
        </div>
        <div class="info-right" col-8>
          <div class = "content-wrapper">
            <div class="id-payment text">
              <span>
                {{item.productTitle}}
              </span>
            </div>
            <div class="member-payment text">
              <ion-icon name="cash" style="color: white; padding-right: 5px"></ion-icon>
                <span>
                  {{item.priceLow}} - {{item.priceLow}}
                </span>
              </div>
            <div class="date-payment text">
              <ion-icon name="home" style="color: white; padding-right: 5px"></ion-icon>
              <span>
                {{item.address}}
              </span>
            </div>
          </div>
        </div>
      </ion-row>
      
  </ion-content>
  