page-filter {
    ion-item {
        position: relative;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        img {
            position: absolute;
            width: 25px;
            height: 25px;
            top: 5px;
            left: 10px;
        }
    }
    .button-login {
        display: block;
        margin: auto;
        margin-top: 40px;
    }
}
