<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bộ lọc</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="input-login">
    <form>
      <ion-grid>
        <ion-row>
          <ion-item no-padding transparent class="border-input">
            <!-- <ion-label class="text-username" floating>Hiển thị giao dịch trong tháng</ion-label> -->
            <img src="../../assets/imgs/icon-usern.png" alt="" item-start>
            <ion-datetime displayFormat="YYYY-MM-DD" format [ngModelOptions]="{standalone: true}" [(ngModel)]="ngModal['monthYear']"
              (ionChange)="validateField('month')"></ion-datetime>
          </ion-item>
          <ion-col col-12>
            <div class="btn-wrapper">
              <!-- <button class="button-login" ion-button button-clear-outline round outline [disabled]="isEmpty"
                (click)="resetFilter()">
                Bỏ chọn
              </button> -->
              <button class="button-login" ion-button button-clear-outline round outline [disabled]="isErr"
                (click)="filter()">
                Lọc
              </button>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </form>

  </div>
</ion-content>