<!--
  Generated template for the OtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>otp</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="wrapper">

  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center text-uppercase>
        <h1 class="title">Gởi mã OTP đến</h1>
        <h1 class="title"><b>{{phone}}</b></h1>
        <p>Nhập mã kích hoạt gồm 6 chữ số</p>
      </ion-col>
      <ion-col col-2>
        <ion-item no-padding transparent>
          <ion-input #input1 type="tel" clearOnEdit text-center maxlength="1" [(ngModel)]="otpArr[0]" (ionChange)="next(input2, 0)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item no-padding transparent>
          <ion-input #input2 type="tel" clearOnEdit text-center maxlength="1" [(ngModel)]="otpArr[1]" (ionChange)="next(input3, 1)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item no-padding transparent>
          <ion-input #input3 type="tel" clearOnEdit text-center maxlength="1" [(ngModel)]="otpArr[2]" (ionChange)="next(input4, 2)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item no-padding transparent>
          <ion-input #input4 type="tel" clearOnEdit text-center maxlength="1" [(ngModel)]="otpArr[3]" (ionChange)="next(input5, 3)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item no-padding transparent>
          <ion-input #input5 type="tel" clearOnEdit text-center maxlength="1" [(ngModel)]="otpArr[4]" (ionChange)="next(input6, 4)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item no-padding transparent>
          <ion-input #input6 type="tel" clearOnEdit text-center maxlength="1" [(ngModel)]="otpArr[5]" (ionChange)="next(input6, 5)"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12 text-right style="height: 54px; margin-bottom: 50px">
        <p *ngIf="error">Mã OTP không đúng. Vui lòng thử lại</p>
      </ion-col>
      <ion-col col-12 >
          <div class="btn-wrapper">
            <button 
              ion-button button-clear-outline round outline 
              style="margin-top: 0" 
              class="button-login" 
              (click)="submitOTP()"
              [disabled]="!enableSubmit">
              Xác nhận mã OTP
            </button>
            <button 
              ion-button button-clear-outline round outline 
              class="button-login" 
              (click)="resendOTP(input1)"
              [disabled]="onCountDown">
              Gởi lại mã OTP
            </button>
            <p style="width: 100%" text-center *ngIf="onCountDown">Gởi lại mã sau {{count}} giây</p>
          </div>
      </ion-col>
    </ion-row>
    <ion-row text-center>

    </ion-row>
  </ion-grid>
</ion-content>