page-otp {
    
    .wrapper {
        .scroll-content {
            background: linear-gradient(150.64deg, $color-1 0%, $color-2 100%);
        }
        width: 100%;
        height: 100%;
    }
    .item-block {
        border-bottom: solid 1px white;
        border-radius: 3px;
    }
    .input {
        background: transparent;
        border: none;
    }
    input.text-input {
        margin-bottom: 10px;
        letter-spacing: 20px;
        font-size: 30px;
        padding: 0 calc(50% - 17px);
        color: black;
        font-family: $RobotoBold;
        margin: 0;
    }
    .title {
        width: 100%;
        color: white;
    }
    ion-grid {
        height: 100%;
        padding-top: 15% !important;
    }
    .text-input[disabled] {
        opacity: 1;
    }
    .disable {
        pointer-events: none;
    }
    p {
      margin-top: 5px;
        width: 100%;
        color: white;
    }
    .button-login {
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    h1 {
      margin-bottom: 30px;
      font-size: 35px;
      letter-spacing: 2px;
      &:last-child {
          margin-bottom: 100px;
      }
    }
    .input-wrapper{
        background: #fff;
    }
    .button-login{
        background: $colorButton;
        border-radius: 5px;
    }
}