<!-- <page-menu></page-menu> -->

<ion-header mode ="md" [ngClass]="{'min-height-155': userRole !== 1}">
  <ion-navbar color="red">
    <ion-buttons mode ="md"  left class="circle-btn">
      <img src="../../assets/imgs/layout_green/ic_person_white.png" alt="">
    </ion-buttons>
    <ion-title mode ="md" >{{name}}</ion-title>
    <ion-buttons right class="menu-btn" mode ="md"  (tap) = "openMenu()">
      <button clear="true" ion-button> 
        <img src="../../assets/imgs/icon-menu.png" alt="">
      </button>
    </ion-buttons>
    <ion-title mode ="md"  class ="position">{{position}}</ion-title>
  </ion-navbar>
  <div class="icon-point" *ngIf = "userRole !== 1">
    <p class="text" *ngIf="userRole !== 3"> Số dư trong ví</p>
    <p class="text" *ngIf="userRole === 3"> Điểm thưởng của bạn</p>
    <img src="../../assets/imgs/Exclude.svg" alt="">
    <p class="point active" >{{discount || 0}}</p>
  </div>
</ion-header>

<ion-content [ngClass] = "{'has-promo': userRole !== 1}">
  <div class="wrapper-home">
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let page of pages">
          <ion-item class="item-case" (tap)="openPage(page)">
            <div class="wrapper-case">
              <div class="image-wrapper">
                <img alt="" src="{{page.image}}" />
              </div>
              <div class="case-name">
                <span>{{page.title}}</span>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>