page-home {
    .back-button {
        display: none;
    }
    ion-header {
        &.min-height-155 {
            height: 155px;
        }
        &:after {
            display: none;
        }
        span {
            margin-left: 15px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
        .menu-btn {
            img {
                height: 24px;
            }
        }
    }
    .icon-point {
        position: relative;
        margin-top: 6px;
        padding: 0 10px;
        height: 100px;
        img {
            position: relative;
            height: 100px;
            z-index: 2;
            width: 100%;
        }
        p {
            position: absolute;
            width: calc(100% - 20px);
            text-align: center;
            z-index: 3;
            text-transform: uppercase;
            color: $color-1;
            font-size: 13px;
            &.point {
                top: 45px;
                margin: 0;
                font-family: $RobotoBold;
                font-size: 40px;
                background: linear-gradient(to bottom, $color-2 0%, $color-1 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                &.active {
                    background: linear-gradient(to bottom, $color-2 0%, $color-1 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        // &:after {
        //     content: "";
        //     position: absolute;
        //     left: 49px;
        //     top: 38px;
        //     width: calc(100% - 93px);
        //     height: 1px;
        //     background-color: #000000;
        //     z-index: 0;
        // }
    }
    ion-content {
        background: #ECF0F3 !important;
        &.has-promo {
            .scroll-content {
                padding-top: 80px;
            }
        }
        .item.item-block {
            padding: 0;
            width: 170px;
            height: 170px;
            margin: auto;
            // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
            background:url('../../assets/imgs/layout_green/bg_menu_button.png') center no-repeat;
            background-size: 100%;
            border-radius: 9px;
            text-align: center;
            img {
                width: 70px;
                height: 70px;
                position: relative;
                top: 5px;
                right: -2px;
            }
            span {
                line-height: 25px;
                font-size: 11px;
                text-align: center;
                color: $colorButton;
                text-transform: uppercase;
                font-weight: 600 !important;
            }
            .case-name {
                margin-top: 10px;
            }
        }
    }
    ion-title.position .toolbar-title {
        font-family: $Roboto;
        font-size: 12px;
    }
    .toolbar-ios ion-title {
        position: unset;
        padding: 0 !important;
        height: auto !important;
        min-height: auto !important;
    }
    ion-content .scroll-content {
        background: unset !important;
    }
    .bar-button{
        .button-inner{
            margin-left: 0;
        }
    }
    .circle-btn{
        margin-left:0;
    }
}
.action-sheet-group{
    background-image: linear-gradient(to bottom, $color-2, $color-1) !important;
    .button-inner{
        color: #fff;
        text-transform: uppercase;
        font-weight:  bold;
    }
}
ion-backdrop{
    background: #fff;
}
@media (min-width: 321px) {
    page-home {
        .icon-point {
            padding: 0 30px;
            p {
                width: calc(100% - 60px);
            }
        }
    }
}
@media (max-width: 321px) {
    page-home ion-content .item.item-block{
        width: 149px;
        height: 135px;
    }
    page-home ion-content .item.item-block img {
        width: 50px;
        height: 50px;
        position: relative;
        top: 6px;
    }
    page-home ion-content .item.item-block span{
        font-size: 11px;
    }
}