<ion-header>
  <ion-navbar color="red">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Giao dịch tháng {{currentMonth}} / {{currentYear}}
      <span>{{'(' + length + ')'}}</span>
    </ion-title>
    <ion-buttons end>
      <!-- <button style="background: transparent" (tap)="toggleSearch()">
        <ion-icon class="btn-icon" name="ios-search"></ion-icon>
      </button> -->
      <button style="background: transparent" (tap)="filter()">
        <ion-icon class="btn-icon" name="md-list"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
    refereshingSpinner="none"
    pullMin="500"
    ></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar *ngIf="onSearch" [(ngModel)]="searchText" placeholder="Tìm kiếm ..." showCancelButton (ionInput)="search($event)"
    (ionCancel)="clearSearch($event)">
  </ion-searchbar>
  <div *ngIf="listTransaction">
    <ion-row class="wrapper-info-payment" col-12 (click)="gotoHistoryDetai(item)" *ngFor="let item of listTransactionCurrent">
      <!-- <div col-4>
        <div class="img-wrapper">
          <img src="{{item.avatar || '../../assets/imgs/userAvatar.jpg'}}">
        </div>
      </div> -->
      <div class="info-right">
        <div class="content-wrapper">
          <div class="id-payment text">{{item.id}}</div>
          <!-- <div class="id-payment text">#123123-123123</div> -->
          <!-- <div class="name-payment text">
            <ion-icon name="contact" style="color: white; padding-right: 5px"></ion-icon>
            <span>
              Khách hàng: 
            </span>
            {{item.name}}
          </div> -->
          <div class="member-payment text">
            <ion-icon name="cash" style="color: white; padding-right: 5px"></ion-icon>
            <span>Số tiền: </span>
            {{item.amountText}} VND
          </div>
          <div class="date-payment text">
            <ion-icon name="timer" style="color: white; padding-right: 5px"></ion-icon>
            Thời gian: {{item.updated_atText||item.created_atText}}
          </div>
          <div class="status-payment">Hoàn tất</div>
        </div>
      </div>
    </ion-row>
  </div>
  <div *ngIf="!listTransaction">
    <h1 style="color:white; width:100%" text-center>Chưa có giao dịch nào!</h1>
  </div>
</ion-content>