// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

@import "main";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// @font-face {
//   font-family: 'icomoon';
//   src:  url('../assets/fonts/icomoon.eot?39m2i2');
//   src:  url('../assets/fonts/icomoon.eot?39m2i2#iefix') format('embedded-opentype'),
//     url('../assets/fonts/icomoon.ttf?39m2i2') format('truetype'),
//     url('../assets/fonts/icomoon.woff?39m2i2') format('woff'),
//     url('../assets/fonts/icomoon.svg?39m2i2#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// [class^="icon-"], [class*=" icon-"] {
//   /* use !important to prevent issues with browser extensions that change fonts */
//   font-family: 'icomoon' !important;
//   speak: none;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;

//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// @mixin makeIcon($arg, $val) {
//   .ai-#{$arg}:before ,
//   .ion-ios-ai-#{$arg}:before ,
//   .ion-ios-ai-#{$arg}-outline:before ,
//   .ion-md-ai-#{$arg}:before ,
//   .ion-md-ai-#{$arg}-outline:before  {
//     content: $val;
//     font-size: 26px;
//   }
// }


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  blue: #004aff,
  orange: #ffb100,
);
// $color-1:  #f1a320;
// $color-2: #f3c900;
$color-1:  #004aff;
$color-2: #00c6ff;
$colorButton: #ffb100;
$refresher-icon-color : "#fff";
$toolbar-background: #3D9BDD;
$backgound-1: #ecf9ff;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
@mixin gradient-accent ($color-1, $color-2) {
  background: $color-1;
  background: -moz-linear-gradient(left, $color-1 0%,  $color-2 100%);
  background: -webkit-linear-gradient(left, $color-1 0%, $color-2 100%);
  background: linear-gradient(to left, $color-1 0%, $color-2 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '$color-1', endColorstr='$color-1',GradientType=1 );
}
.toolbar {
  .toolbar-background{
    // @include gradient-accent ($color-1, $color-2);
    background: transparent;
  }
  .toolbar-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: white;
   }
}

 



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// // Ionicons
// // --------------------------------------------------
// // The premium icon font for Ionic. For more info, please see:
// // http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// // Fonts
// // --------------------------------------------------

// @import "roboto";
// @import "noto-sans";



// @import "ionic.theme.default";


// // Ionicons
// // --------------------------------------------------
// // The premium icon font for Ionic. For more info, please see:
// // http://ionicframework.com/docs/ionicons/

// @import "ionicons";
// // @import "ionic.ionicons";


// // Fonts
// // --------------------------------------------------

// @import "roboto";
// @import "noto-sans";

// // include font-face
// @import "font-face.scss";
// @import "font-ico.scss";

@font-face {
  font-family: 'File';
  src: url('../assets/fonts/File.otf') format('truetype');
}

@font-face {
  font-family: 'fs_elliot-regular';
  src: 
    url('../assets/fonts/fs_elliot-regular-webfont.woff') format('woff'),
    url('../assets/fonts/fs_elliot-regular-webfont.woff2') format('woff2')
}
@font-face {
  font-family: 'FSElliotProBold';
  src: 
    url('../assets/fonts/FSElliotProBold.woff') format('woff'),
    url('../assets/fonts/FSElliotProBold.woff2') format('woff2')
}
@font-face {
  font-family: 'FSElliotProLight';
  src: 
    url('../assets/fonts/FSElliotProLight.woff') format('woff'),
    url('../assets/fonts/FSElliotProLight.woff2') format('woff2')
}
@font-face {
  font-family: 'SFUIDisplay-Light';
  src: 
    url('../assets/fonts/SFUIDisplay-Light.woff') format('woff'),
    url('../assets/fonts/SFUIDisplay-Light.woff2') format('woff2')
}
@font-face {
  font-family: 'SFUIDisplay-Regular';
  src: 
    url('../assets/fonts/SFUIDisplay-Regular.woff') format('woff'),
    url('../assets/fonts/SFUIDisplay-Regular.woff2') format('woff2')
}
@font-face {
  font-family: 'SFUIDisplay-Medium';
  src: 
    url('../assets/fonts/SFUIDisplay-Medium.woff') format('woff'),
    url('../assets/fonts/SFUIDisplay-Medium.woff2') format('woff2')
}
@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: 
    url('../assets/fonts/SFUIDisplay-Semibold.woff') format('woff'),
    url('../assets/fonts/SFUIDisplay-Semibold.woff2') format('woff2')
}
@font-face {
  font-family: 'Roboto Medium';
  src: 
    url('../assets/fonts/Roboto Medium.woff') format('woff'),
    url('../assets/fonts/Roboto Medium.woff2') format('woff2')
}
@font-face {
  font-family: 'RobotoRegular';
  src: 
    // url('../assets/fonts/RobotoRegular.woff') format('woff'),
    // url('../assets/fonts/RobotoRegular.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Roboto';
  src: 
    url('../assets/fonts/Roboto-Light.ttf') format('truetype')
}
@font-face {
  font-family: 'RobotoBold';
  src: 
    url('../assets/fonts/Roboto-Bold.ttf') format('truetype')
}

$loading-ios-background: transparent;
$loading-md-background: $loading-ios-background;
$loading-wp-background: $loading-ios-background;
$loading-md-box-shadow: none;
// // Font variable
// // -- SFUIText
// -- SFUIDisplay
$SFUIDisplayLight: 'SFUIDisplay-Light';
$SFUIDisplayReg: 'SFUIDisplay-Regular';
$SFUIDisplayMedium: 'SFUIDisplay-Medium';
$SFUIDisplaySemi: 'SFUIDisplay-Semibold';

$elliotLight: 'fs_elliot-light-webfont';
$elliotReg: 'fs_elliot-regular-webfont';
$elliotBold: 'fs_elliot-bold-webfont';

$RobotoReg: 'RobotoRegular';
$RobotoBold: 'RobotoBold';
$RobotoMedium: 'Roboto Medium';
$elliotReg: 'fs_elliot-regular-webfont';
// *** Only use this font for android, detect type by font-weight:
// Light: 100, ~ SFUIText-Light or SFUIDisplay-Light
// Regular: 400 (default), ~ SFUIText-Reg or SFUIDisplay-Reg
// Medium: 500, ~ SFUIText-Medium or SFUIDisplay-Medium
// Semibold: 600, ~ SFUIText-Semibold or SFUIDisplay-Semibold
// Bold: 700, ~ SFUIText-Bold or SFUIDisplay-Bold
$Roboto: 'Roboto';
$File: 'File';
// ***

// $font-family-ios-base: $SFUITextReg;
// $font-family-md-base: $Roboto;
// $font-family-wp-base: $Roboto;

// // mixins
// @import "./mixin.scss";