page-history {
    background-color: white;
    .refresher-refreshing .spinner-crescent circle, .refresher-refreshing .spinner-ios line, .refresher-refreshing .spinner-ios-small line{
        stroke : white;
     }
     p {
        margin: 5px 0;
     }
    .wrapper-info-payment {
        border-bottom: 1px solid #d6d3d3;
        padding: 15px 0;
        .info-right {
            position: relative;
            float: left;
            .text {
                padding-bottom: 8px;
                font-family: $SFUIDisplayMedium;
                span {
                    font-size: 14px;
                    font-family: $SFUIDisplayLight;
                }
                &.id-payment {
                    font-family: $SFUIDisplayMedium;
                    font-size: 16px;
                }
            }
            .content-wrapper {
                color: white;
                padding-left: 20px;
            }
        }
        .status-payment {
            margin-bottom: 5px;
            border-radius: 60px; // border: 1px solid #00b749;
            background-color: #00b749;
            padding: 5px 5px 5px 5px;
            text-align: center;
            color: white;
            max-width: 100px;
            text-transform: uppercase;
        }
    }
    .img-wrapper {
        text-align: center;
        overflow: hidden;
        img {
            border: 6px solid white;
        }
    }
    .btn-icon {
        font-size: 25px;
        color: white;
    }
    .text-input {
        height: 25px;
        margin: 0;
    }
    .item-inner {
        border-bottom: solid 1px white !important;
    }
    .searchbar-md .searchbar-input {
        color: orange;
    }
    .searchbar-md .button-clear-md-dark {
        color: orange;
    }

    ion-searchbar {
        &.searchbar  {
          ::placeholder {
            color: #FE7400;
          }
        }
    }
    .total-amount {
        width: 100%;
        padding: 10px 10px 18px 10px;
        border-radius: 10px;
        background: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        text-align: center;
        border: 2px solid $color-1;
        p {
            font-size: 14px;
            color: $color-2;
            margin: 0;
            font-weight: bold;
        }
        h1 {
            font-size: 30px;
            font-family: $RobotoBold;
            background: linear-gradient(to bottom, $color-2 0%, $color-1 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 17px 0 0;
        }
    }
    .item {
        &-containter {
            margin-top: 30px;
        }
        &-time {
            text-transform: uppercase;
            color: #666666;
            font-family: $RobotoBold;
            font-size: 16px;
        }
        &-wrapper {
            border-radius: 10px;
            background: white;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        }
        &-amount {
            font-family: $RobotoBold;
            font-size: 16px;
            &.active-1 {
                color: #00b749;
            }
            &.active-2 {
                color: orange;
            }
        }
        &-time {
            color: white;
        }
    }
    .grid {
        margin-top: 10px;
        padding: 0;
    }
    .row {
        padding: 0px 5px 5px 5px;
    }
    .time {
        font-size: 12px;
        color: #AAAAAA;
        font-family: $Roboto;
    }
    .wrapper {
        position: absolute;
        width: calc(100% - 30px);
    }
    .item-wrapper{
        border: 2px solid $color-1;
        border-radius: 10px;
        margin-top: 5px;
        background: #fff;
    }
    .item-time{
        color: $color-1;
    }
    .item-pay{
        p{
            color: $color-2;
            font-weight: bold;
        }
        
    }
    .item-amount{
        color: $colorButton !important;
    }
    ion-content{
        .scroll-content{
            background: $backgound-1 !important;
        }
    }
}