<ion-header>
  <ion-navbar color="red">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Giao dịch tháng {{currentMonth}} / {{currentYear}}
      <span>{{'(' + length + ')'}}</span>
    </ion-title>
    <ion-buttons end>
      <!-- <button style="background: transparent" (tap)="toggleSearch()">
        <ion-icon class="btn-icon" name="ios-search"></ion-icon>
      </button> -->
      <button style="background: transparent" (tap)="filter()">
        <ion-icon class="btn-icon" name="md-list"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refereshingSpinner="none" pullMin="500"></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar *ngIf="onSearch" [(ngModel)]="searchText" placeholder="Tìm kiếm ..." showCancelButton (ionInput)="search($event)"
    (ionCancel)="clearSearch($event)">
  </ion-searchbar>
  <div class="wrapper">
    <ion-list *ngIf="listSearch.length" class="search-autocomplete">
      <ion-item *ngFor="let item of listSearch" (click)="selectSearch(item._id)">
        {{ item.name }}
      </ion-item>
    </ion-list>
  </div>

  <div class="total-amount" *ngIf = "userRoleId !== 4">
    <p>
      TỔNG GIÁ TRỊ GIAO DỊCH
    </p>
    <h1>
      {{totalAmountText}}
    </h1>
  </div>
  <div *ngIf="listTransaction && listTransaction.length">
    <div *ngFor="let transaction of listTransactionCurrent; let i = index">
      <div class="item-containter" *ngIf = "transaction.length">
        <span class="item-time">Ngày {{showTime[i]}}</span>
        <div class="item-wrapper">
          <ion-grid>
            <ion-row (click)="gotoHistoryDetai(item)" *ngFor="let item of transaction">
              <!-- Type 1 -->
              <ion-col col-8 text-left class="item-pay" *ngIf="item.type === 1">
                <p>{{item.member}}</p>
              </ion-col>
              <ion-col col-4 text-right class="item-amount active-1" *ngIf="item.type === 1"> {{item.discountText}}</ion-col>

              <!-- Type 2 -->
              <ion-col col-8 text-left class="item-pay" *ngIf="item.type === 2">
                <p>Thanh toán cho: {{item.partner}}</p>
              </ion-col>
              <ion-col col-4 text-right class="item-amount" *ngIf="item.type === 2"> {{item.discountText}}</ion-col>

              <ion-col col-8 text-left class="item-pay" *ngIf="item.type === 2">
                <p>Nhận hoa hồng từ liên kết bởi: {{item.customer}}</p>
              </ion-col>
              <ion-col col-4 text-right class="item-amount active-1" *ngIf="item.type === 2"> {{item.memberText}}</ion-col>

              <!-- Type 4 -->
              <ion-col col-8 text-left class="item-pay" *ngIf="item.type === 4">
                <p>Nhận hoa hồng từ liên kết bởi: {{item.customer}}</p>
              </ion-col>
              <ion-col col-4 text-right class="item-amount active-1" *ngIf="item.type === 4"> {{item.memberText}}</ion-col>

              <!-- Type 3 -->
              <ion-col col-8 text-left class="item-pay" *ngIf="item.type === 3">
                <p>Nhận hoa hồng từ chia sẻ bởi: {{item.partner}}</p>
              </ion-col>
              <ion-col col-4 text-right class="item-amount active-1" *ngIf="item.type === 3"> {{item.introducerText}}</ion-col>

              <!-- Type 5 -->
              <ion-col col-8 text-left class="item-pay" *ngIf="item.type === 5">
                <p>Thanh toán cho: {{item.partner}}</p>
              </ion-col>
              <ion-col col-4 text-right class="item-amount" *ngIf="item.type === 5"> {{item.discountText}}</ion-col>

              <!-- Type 6 -->
              <ion-col col-8 text-left class="item-pay" *ngIf="item.type === 6">
                <p>Nhận hoa hồng từ liên kết bởi: {{item.customer}}</p>
              </ion-col>
              <ion-col col-4 text-right class="item-amount active-1" *ngIf="item.type === 6"> {{item.memberText}}</ion-col>

              <ion-col col-8 text-left class="item-pay" *ngIf="item.type === 6">
                <p>Nhận hoa hồng từ chia sẻ bởi: {{item.partner}}</p>
              </ion-col>
              <ion-col col-4 text-right class="item-amount active-1" *ngIf="item.type === 6"> {{item.introducerText}}</ion-col>

            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!listTransaction || !listTransaction.length">
    <h1 style="width:100%" margin-top text-center>Chưa có giao dịch nào!</h1>
  </div>
</ion-content>