<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Đổi mật khẩu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="input-login">
    <form [formGroup]="changePasswordForm">
      <div class="content-wrapper">
        <ion-grid>
          <ion-row>
            <ion-col col-4 class="padding-14">
              <span>Mật khẩu cũ: </span>
            </ion-col>
            <ion-col col-8>
              <ion-item no-padding transparent class="border-input">
                <ion-input required type="{{showPass.oldPass ? 'text' : 'password'}}" formControlName="oldPassword"
                  placeholder="•••••••••••••" maxlength="20"></ion-input>
                <button class="manage-password" ion-button icon-only clear color="dark" type="button" item-right
                  (click)="displayPassword('oldPass')">
                  <ion-icon name="{{showPass.oldPass ? 'eye-off' : 'eye'}}"> </ion-icon>
                </button>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="changePasswordForm.controls.oldPassword"></control-messages>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 class="padding-14">
              <span>Mật khẩu mới </span>
            </ion-col>
            <ion-col col-8>
              <ion-item no-padding transparent class="border-input">
                <ion-input required type="{{showPass.newPass ? 'text' : 'password'}}" formControlName="newPassword"
                  placeholder="•••••••••••••" maxlength="20"></ion-input>
                <button class="manage-password" ion-button icon-only clear color="dark" type="button" item-right
                  (click)="displayPassword('newPass')">
                  <ion-icon name="{{showPass.newPass ? 'eye-off' : 'eye'}}"> </ion-icon>
                </button>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="changePasswordForm.controls.newPassword"></control-messages>
              </div>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col col-4 class="padding-14">
              <span>Xác nhận mật khẩu: </span>
            </ion-col>
            <ion-col col-8>
              <ion-item no-padding transparent class="border-input">
                <ion-input required type="{{showPass.confirm ? 'text' : 'password'}}" formControlName="confirmNewPassword"
                  placeholder="•••••••••••••" maxlength="20"></ion-input>
                <button class="manage-password" ion-button icon-only clear color="dark" type="button" item-right
                  (click)="displayPassword('confirm')">
                  <ion-icon name="{{showPass.confirm ? 'eye-off' : 'eye'}}"> </ion-icon>
                </button>
              </ion-item>
              <div class="message-wrapper">
                <control-messages [control]="changePasswordForm.controls.confirmNewPassword"></control-messages>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="btn-wrapper">
        <button class="button-login" ion-button center button-clear-outline round outline (click)="submit()">
          Đổi mật khẩu
        </button>
      </div>

      <ion-row margin-top>
        <div class="icon">
          <img src="../../assets/imgs/layout_green/ic_security.png" alt=""><br />
          <span class="protect">
            Thông tin của bạn đã được mã hóa và bảo đảm an toàn theo quy định của pháp luật.
          </span>
        </div>
      </ion-row>

    </form>

  </div>
</ion-content>