page-payment {
    .wrapper {
        position: absolute;
        z-index: 100;
        right: 30px;
        .search-autocomplete .item.item-block {
            padding: 0 20px;
        }
    }
    .error-message {
        margin: 5px 0;
        color: red;
    }
    .title-name {
        font-size: 1.8 rem !important;
    }
    .refresher-refreshing .spinner-crescent circle,
    .refresher-refreshing .spinner-ios line,
    .refresher-refreshing .spinner-ios-small line {
        stroke: white;
    }
    .img-wrapper {
        display: inline-block;
        max-width: 150px;
        border: solid 7px white;
        border-radius: 50%;
        overflow: hidden;
    }
    .content-wrapper {
        text-align: left;
        border-radius: 10px;
        background-color: white;
        .row {
            padding: 3px 20px;
            border-bottom: 1px solid #EEEEEE;
            &:last-child {
                border-bottom: none;
            }
        }
        margin-bottom: 20px;
    }
    .card-content {
        padding: 0;
    }
    .card {
        background: transparent;
        box-shadow: none;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    ion-card {
        margin: 0;
    }
    .card-header {
        // background-color: #FF8C00;
    }
    .avatar-wrapper {
        margin-top: 75px;
        padding-bottom: 20px;
        border-radius: 10px;
        background-color: white;
        .img-wrapper {
            margin-top: -75px;
        }
    }
    ion-content {
        background-color: white !important;
    }
    .card-header-md+.card-content-md,
    .card-md .item+.card-content-md {
        padding: 20px;
    }
    .row-item {
        font-size: 14px;
        padding-left: 10px;
        font-family: $Roboto;
    }
    span {
        font-size: 14px;
        font-family: $Roboto;
    }
    .title-name {
        text-align: right;
    }
    .toolbar-title {
        color: #FE7400;
        font-size: 18px;
        text-transform: uppercase;
    }
    .position {
        .toolbar-title {
            margin: 10px;
            text-transform: none;
            font-size: 14px;
            color: #999999;
            font-family: $Roboto;
        }
    }
    .protect {
        .toolbar-title {
            padding-left: 0;
            text-transform: none;
            font-size: 14px;
            color: #999999;
            font-family: $Roboto;
        }
    }
    .protect-wrapper {
        img {
            width: 24px;
        }
        .item-button {
            margin-right: 0;
        }
    }
    input.text-input {
        margin: 0;
        padding-right: 30px;
        font-family: $Roboto;
        text-align: right;
        font-size: 14px;
    }
    .content-wrapper {
        text-align: left;
        border-radius: 10px;
        background-color: white;
        .row {
            padding: 3px 20px;
            border-bottom: 1px solid #EEEEEE;
            &:last-child {
                border-bottom: none;
            }
        }
        &:first-child {
            margin-bottom: 20px;
        }
    }
    input.text-input {
        margin: 0;
        padding-right: 20px;
        font-family: $Roboto;
        text-align: right;
        font-size: 14px;
    }
    .button-login {
        margin-top: 24px;
        margin-bottom: 24px;
        background-color: #FE7400;
    }
    .item.item-block {
        min-height: 32px;
        max-height: 32px;
        .item-button {
            margin: 9px 0px 4px 0;
        }
    }
    .padding-14 {
        padding-top: 14px;
    }
    .border-input .no-input {
        margin-right: 32px;
    }
    .select-text {
        padding-right: 13px;
        text-align: right;
        font-size: 14px;
    }
    ion-select.select {
        padding: 17px 13px 10px 50px !important;
    }
}