<!--
  Generated template for the DetailHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Thanh toán</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card class="card card-md" text-center>
    <ion-card-header>
      <div class="avatar-wrapper">
        <div class="img-wrapper">
          <img src="../../assets/imgs/userAvatar.jpg" alt="" class="avatar">
        </div>
        <ion-title class="position">
          THẺ THÀNH VIÊN
        </ion-title>
        <ion-title>
          {{detailData.name}}
        </ion-title>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="input-login">
        <form>
          <div class="content-wrapper">
            <ion-grid>

              <!-- <ion-row class="padding-bottom-10">
                <ion-col col-4 class="padding-14">
                  <span>Họ và tên: </span>
                </ion-col>
                <ion-col col-8 text-right style="padding-right: 40px">
                  <div class="row-item title-name">{{detailData.name}}</div>
                </ion-col>
              </ion-row> -->

              <ion-row>
                <ion-col col-4 class="padding-14">
                  <span class="span-middle">Số tiền</span>
                </ion-col>
                <ion-col col-8 text-right>
                  <ion-item no-padding transparent>
                    <ion-input required type="tel" placeholder="Số tiền" [ngClass]="money? 'font-bold' : 'font-light'"
                      [ngModelOptions]="{standalone: true}" [(ngModel)]="money" maxlength="10" (ionChange)="validateMoney()"
                      [disabled]="totalMoney">
                    </ion-input>
                    <button class="manage-password" ion-button icon-only clear color="dark" type="button" item-right>
                      <ion-icon class="edit" name="ios-create-outline"></ion-icon>
                    </button>
                  </ion-item>

                </ion-col>
              </ion-row>

              <ion-row *ngIf="saleOptions.length">
                <ion-col col-4 class="padding-14">
                  <span class="span-middle">Giảm giá</span>
                </ion-col>
                <ion-col col-8 text-right>
                  <ion-item no-padding transparent class="border-input">
                    <ion-select [ngModelOptions]="{standalone: true}" [(ngModel)]="sale" placeholder="Chọn mức giảm giá"
                      class="font-bold">
                      <ion-option *ngFor="let option of saleOptions" value="{{option.value}}">Giảm {{option.text}}%</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>

                <ion-row>
                  <ion-col col-4 class="padding-14">
                    <span class="span-middle">Ghi chú </span>
                  </ion-col>
                  <ion-col col-8 text-right style="padding-right: 40px">
                    <div class="row-item title-name">{{note}}</div>
                  </ion-col>
                </ion-row>

                <div class="message-wrapper">
                  <p class="error-message" *ngIf="error">{{error}}</p>
                </div>

                <ion-row *ngIf="totalMoney">
                  <ion-col col-4 class="padding-14">
                    <span class="span-middle">Số tiền phải trả</span>
                  </ion-col>
                  <ion-col col-8 text-right style="padding-right: 40px">
                    <ion-item no-padding transparent>
                      <ion-input [ngClass]="totalMoney? 'font-bold' : 'font-light'" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="totalMoney" [disabled]="totalMoney">
                      </ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

            </ion-grid>
          </div>

          <div class="content-wrapper">
            <ion-grid>
              <ion-row>
                <ion-item (tap)="changeId(true)">
                  <ion-label style="opacity: 1">Xác nhận chủ thẻ</ion-label>
                  <ion-checkbox disabled style="opacity: 1" item-right mode="ios" color="success" id="myQr"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="hasId"></ion-checkbox>
                </ion-item>
                <ion-item (tap)="changeId(false)">
                  <ion-label style="opacity: 1">Xác nhận không phải chủ thẻ</ion-label>
                  <ion-checkbox disabled style="opacity: 1" item-right mode="ios" color="success" id="myQrC"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="notHasId"></ion-checkbox>
                </ion-item>
              </ion-row>
            </ion-grid>
          </div>

          <div class="content-wrapper" *ngIf="!hasId">
            <ion-grid>
                <ion-row>
                  <ion-col col-4 class="padding-14">
                    <span class="span-middle">Tên tài khoản</span>
                  </ion-col>
                  <ion-col col-8 text-right>
                    <ion-item no-padding transparent>
                      <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="newId" placeholder="Nhập tên tài khoản Pacific"
                        (ionChange)="searchUser()" (ionBlur)="resetListAutocomplete()">
                      </ion-input>
                      <button class="manage-password" ion-button icon-only clear color="dark" type="button" item-right>
                        <ion-icon class="edit" name="ios-create-outline"></ion-icon>
                      </button>
                    </ion-item>
                    <div class="wrapper">
                      <ion-list *ngIf="listCustomer.length" class="search-autocomplete">
                        <ion-item *ngFor="let user of listCustomer" (click)="selectProducer(user)">
                          {{ user.username }}
                        </ion-item>
                      </ion-list>
                    </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
          </div>

          <div class="btn-wrapper">
            <button class="button-login" ion-button button-clear-outline round outline (click)="payment()">
              {{isCheck ? "Thanh toán" : "Tính tiền"}}
            </button>
          </div>
        </form>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>