// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.input-cover {
  height: 60px;
}
input.text-input {
  margin-top: 3px;
  font-size: 14px;
  font-family: $Roboto;
}
h1, h2, h3, h4, h5, h6, .title, .button-inner {
  font-family: $RobotoReg;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  box-shadow: none !important;
}
.error-message {
  margin: -5px 0 5px;
  color: white;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}
.icon-inline {
  position: absolute;
  bottom: 3px;
  left: 5px;
  color: white;
}
.back-button {
  display: block;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
  margin-top: 10px;
  color: white !important;
}
.message-wrapper {
  width: 100%;
  margin-top: 3px;
  text-align: right;
}
.button-inner {
  font-size: 16px;
}
.pacific-btn {
  height: 50px;
  margin-top: 35px;
  width: 100%;
  border: 2px solid white !important;
  color: white !important;
  &.orange {
    border: 2px solid $color-1 !important;
    color: $color-1 !important;
  }
}
.toolbar {
  ion-title {
    padding-top: 2px;
    line-height: 22px;
    .toolbar-title {
      font-size: 16px;
    }
  }
}
.item.item-block {
  background-color: transparent;
}
.item-inner {
  padding-right: 0 !important;
  border: none !important;
}
.input {
  border: 1px solid white;
  background: #FFFFFF;
  border-radius: 3px;
}
ion-content {
  color: white;
  font-family: $SFUIDisplayLight;
  &[padding] {
    padding: 30px 20px 20px;
  }
}
.button-inner {
  letter-spacing: 1px;
}
// ion-content  {
//   background: #ECF0F3 !important;
// }
.toolbar .toolbar-background {
    background: transparent !important;
}
ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor, ion-app.cameraView ion-content .scroll-content {
  background: transparent none !important;
}
.col-relative {
  position: relative;
}
.span-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
ion-select {
  color: white;
  border-bottom: 1px solid white;
}
.select-icon-inner{
  color: white !important;
}
ion-datetime {
  padding: 10px 8px 10px 0px !important;
  border-bottom: solid white 1px;
}
.datetime-text {
  color: white;
}
.ion-ios-eye-off {
  font-size: 25px;
}
ion-item {
  position: relative;
}
.manage-password {
  position: absolute;
  right: 0;
  bottom: 0;
}
ion-menu {
  .label {
    margin: 10px 10px 10px 0;
  }
  ion-header.menu-header {
    padding: 10px 0 0;
    background-color: $color-1 !important;
  }
  ion-list {
    padding-top: 10px;
  }
  ion-footer.menu-footer {
    padding: 10px 0 0;
    .label { 
      margin: 10px 10px 7px 0;
    }
    .item-block {
      min-height: 30px;
    }
  }
  .menu-header {
    font-size: 14px;
    letter-spacing: 0;
    transform: translate3d(0,0,0);
    .avatar {
      width: 65px;
      height: 65px;
      margin-right: 15px;
      border-width: 3px;
      border: solid 4px white;
      border-radius: 50%;
      overflow: hidden;
      padding: 5px;
      span { 
        font-size: 50px;
        position: absolute;
        left: 22px;
        top: 0px;
        font-family: $File;
        color: white;
      }
    }
    .item {
      display: inline-block;
      vertical-align: middle;
    }
    .username {
      display: block;
      font-size: 16px;
      font-family: $Roboto;
      color: white;
    }
    .phone {
      display: block;
      font-size: 16px;
      color: white;
      font-family: $Roboto;
    }
    .detail {
      display: inline-block;
      font-size: 14px;
      margin-top: 10px;
      .platform-android & {
        font-weight: 500;
      }
    }
  }

  .menu-content {
    .group1 {
      border-bottom: 1px solid #D8D8D8;
    }
    .item.item-block {
      .item-inner {
        border: 0;
      }
    }
    .scroll-content {
      padding: 12px 12px 0;
    }
    .menu-link {
      padding: 0 12px;
    }
    .menu-link .label {
      font-size: 22px;
      letter-spacing: 0;
      text-align: left;
      line-height: 48px;
      margin: 0 auto;
    }
    .group1 .label { font-size: 22px; }
    .group2 .label { font-size: 18px; }
    &.footer .label {
      font-size: 14px;
    }
    .copyright {
      padding-left: 15px;
      font-size: 10px;
    }
  }
  .menu-header,
  .menu-footer {
    padding: 0 24px;
  }

  .remove-border-bottom {
    border-bottom: transparent;
  }
  input {
    &.text-input {
      &::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder, &::-webkit-input-placeholder {
        color: red;
        font-family: $Roboto;
        font-style: normal;
        line-height: normal;
        font-size: 14px;
      }
    }
  }

}
input.text-input {
  height: 30px;
  margin: 10px 50px;
  width: 100%;
}

.input-time {
  input.text-input {
    margin: 10px 0;
    padding: 0 5px;
  }
}

page-home ion-header.header {
  .toolbar {
    padding: 15px 20px 17px;
  }
  
}
ion-header.header {
  padding: 10px 0 0;
  // background-color: #FF6700 !important;
  background-image: url("../assets/imgs/header-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 155px;
  // background-position: bottom right;
  box-shadow: none;
  .toolbar {
    padding-left: 10px;
    padding-right: 10px;
  }
  .toolbar-ios ion-title {
    padding: 0 50px 1px;
  }
}
page-history {
  ion-header.header {
    .toolbar-ios ion-title {
      padding: 0 90px 1px 50px;
    }
  }
}
.circle-btn {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  border: solid 2px #ffffff;
  overflow: hidden;
}
.action-sheet--ios{

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  &.action-sheet-md .action-sheet-button {
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    font-family: $Roboto;
    &:last-child {
      border: none;
    }
  }

  .action-sheet-button {
    min-height: 40px;
  }

  .action-sheet-group .button-inner {
    justify-content: center;
  }

  .button-inner {
    font-family: $Roboto !important;
    color: $color-1;
    font-size: 14px;
  }
  .action-sheet-group {
    padding: 0;
    border-radius: 4px;
  }
}
.scroll-content, ion-content.has-refresher > .scroll-content {
  background-color: #ECF0F3;
}
.toolbar-title-md {
  font-weight: normal;
}
.btn-wrapper {
  width: 100%;
  text-align: center;
}
.button-login {
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  color: white !important;
  padding: 24px 80px !important;
  outline: none !important;
  border: none !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}
.checkbox-ios .checkbox-checked {
  border-color: #10dc60;
  background-color: #10dc60;
}
.checkbox-ios .checkbox-icon {
  border-color: #10dc60;
}
ion-datetime.datetime {
  width: 100%;
  height: 52px;
  padding: 18px 10px 10px 50px !important;
  background-color: white;
  border-radius: 5px;
  color: #666666;
  .datetime-text {
    color: #666666;
    &.datetime-placeholder {
      color: #999;
      font-family: $Roboto;
    }
  }
}
.select-icon-inner {
  color: black !important;
}
ion-select.select {
  width: 100%;
  max-width: 100%;
  height: 52px;
  background-color: white;
  padding: 17px 23px 10px 50px !important;
  color: #666666;
}
.search-autocomplete {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  .item.item-block {
    background-color: white;
    border-bottom: #EEEEEE solid 1px;
  }
  ion-label {
    margin: 10px 0;
  }
}
.toolbar-title {
  text-overflow: inherit;
   white-space: normal;
}
ion-header {
  background-image: linear-gradient(to right, $color-1 , $color-2) !important;
}
ion-content .scroll-content {
  background: linear-gradient(150.64deg, $color-1 0%, $color-2 100%) !important;
}