<ion-header>
  <ion-navbar color="red">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Khuyến Mãi
      <span *ngIf="length">{{'(' + length + ')'}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="listPromo">
    <ion-row class="wrapper-info-payment" *ngFor="let item of listPromo" (click)="gotoPayPromo(item)">
      <div class="item-wrapper">
        <ion-item>
          <button ion-button clear color="light" type="button" item-left>
            <img src="../../assets/imgs/layout_green/ic_gift_card.jpg" class="icon">
          </button>
          <ion-title class="item-name title">
            <b>Khuyến mãi - {{item.name}}</b>
          </ion-title>
          <span class="item-quantity">Số lượng:&nbsp; <b>{{item.quantity}}</b></span>
          <span class="item-point">Số điểm:&nbsp; <b>{{item.price}}</b></span>
        </ion-item>
      </div>
    </ion-row>
  </div>
  <div *ngIf="!listPromo">
    <h1 style="width:100%" text-center>Chưa có khuyến mãi nào!</h1>
  </div>
</ion-content>