page-promo {
    color: #666666;
    .toolbar-title {
        color: #666666;
        font-size: 16px;
        padding: 0;
        margin-bottom: 5px;
    }
    .item {
        &-quantity {
            font-size: 14px;
            color: #666666;
            margin-right: 30px;
        }
        &-point {
            font-size: 14px;
            color: #666666;
        }
    }
    .row {
        padding:10px;
    }
    .item-wrapper {
        width: 100%;
        background: white;
        border-radius: 10px;
        border-top: 3px solid $color-1;
        border-bottom:3px solid $color-2;
        background-image: 
            linear-gradient($color-1, $color-2),
            linear-gradient($color-1, $color-2)
        ;
        background-size:3px 100%;
        background-position:0 0, 100% 0;
        background-repeat:no-repeat;
        .item-button {
            height: 45px;   
            margin-right: -20px;
        }
        img {
            max-height: 100%;
        }
        .icon{
            width: 130px;
            min-height: 100px;
            margin-left: -43px;
        }
        .title{
            text-align: left;
            background: linear-gradient(to bottom, $color-2 0%, $color-1 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
        }
        .item-quantity,.item-point{
            color:  $color-1;
        }
    }
    ion-content{
        .scroll-content{
            background: $backgound-1 !important;
        }
    }
}

