<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Yêu cầu rút tiền</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="input-login">
    <form [formGroup]="withdrawalRequest">
      <div class="content-wrapper">
        <ion-grid>

          <ion-row>
            <ion-col col-4 class="padding-14">
              <span>Nhập số tiền: </span>
            </ion-col>
            <ion-col col-8>
              <ion-item no-padding transparent class="border-input">
                <ion-select formControlName="time" disabled = "{{alertMessage ? true : false}}" placeholder="Chọn tháng muốn rút tiền">
                  <ion-option  *ngFor="let option of listMonth" value="{{option.month}}" (ionSelect) = "selectMonth(option)">{{option.month}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <div class="message-wrapper">
              <control-messages [control]="withdrawalRequest.controls.time"></control-messages>
            </div>
          </ion-row>
          <div *ngIf = "withdrawalRequest.controls.time.value">
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Số tiền trong tháng: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent class="border-input">
                  <ion-input disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMonth.money"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Ngân hàng: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent class="border-input">
                  <ion-input disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="bankInfor.BankName"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Chi nhánh: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent class="border-input">
                  <ion-input disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="bankInfor.BankAddress"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Chủ tài khoản: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent class="border-input">
                  <ion-input disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="bankInfor.BankAccountHolder"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Số tài khoản: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent class="border-input">
                  <ion-input disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="bankInfor.BankAccount"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>

      <div class="btn-wrapper">
        <button class="button-login" ion-button center button-clear-outline round outline (click)="submit()">
          RÚT TIỀN
        </button>
      </div>

      <ion-row margin-top>
        <div class="icon">
          <img src="../../assets/imgs/layout_green/ic_security.png" alt=""><br />
          <span class="protect">
            Thông tin của bạn đã được mã hóa và bảo đảm an toàn theo quy định của pháp luật.
          </span>
        </div>
      </ion-row>

    </form>

  </div>
</ion-content>