page-withdrawal-request {
    .content-wrapper {
        text-align: left;
        border-radius: 10px;
        background-color: white;
        .row {
            padding: 3px 20px;
            border-bottom: 1px solid #EEEEEE;
            &:last-child {
                border-bottom: none;
            }
        }
        &:first-child {
            margin-bottom: 20px;
        }
    }
    input.text-input {
        margin: 0;
        padding-right: 30px;
        font-family: $Roboto;
        text-align: right;
    }
    .button-login {
        margin-top: 24px;
        margin-bottom: 24px;
        background-color: #FE7400;
    }
    .item.item-block {
        min-height: 32px;
        max-height: 32px;
        .item-button {
            margin: 9px 0px 4px 0;
        }
    }
    .padding-14 {
        padding-top: 14px;
    }
    .protect {
        .toolbar-title {
            text-transform: none;
            font-size: 14px;
            color: #999999;
            font-family: $Roboto;
            padding-left: 0;
        }  
    }
    .protect-wrapper {
        img {
            width: 24px;
        }
    }
    .error-message {
        color: red;
    }
    .message-wrapper {
        margin-top: 3px;
    }
}
