<!--
  Generated template for the SuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Thành công</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-grid>

    <ion-row>

      <ion-col col-12 text-center>
        <img src="../../assets/imgs/success.png">
      </ion-col>
      <ion-col col-12 text-center>
        <h1 [ngClass]="{'has-id': !id}">{{title}}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="btn-wrapper">
        <button class="button-login" ion-button button-clear-outline round outline (click)="gotoHomePage()">
          {{islogin? 'Đăng nhập để tiếp tục' : 'Về trang chủ'}}
        </button>
      </div>
    </ion-row>

  </ion-grid>

</ion-content>