page-success {
  .back-button {
    display: none;
  }
  [padding] h1:first-child {
    font-size: 27px;
    color: #666666;
    &.has-id {
      margin-top: 25px;
      margin-bottom: 90px;
    }
  }
  img {
    max-width: 200px;
  }
  .text-input[disabled] {
    opacity: 1;
    font-size: 20px;
  }
  .input-wrapper {
    font-size: 20px;
  }
  .grid {
    margin-top: 50px;
  }
  .button-login {
    margin: 30px 0;
    background-color: #FE7400;
    padding: 24px 40px !important;
  }
}
