<!--
  Generated template for the UserinformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Thông tin tài khoản</ion-title>
    <ion-buttons end>
      <button style="background: transparent" (tap)="gotoChangeInfo()">
        <ion-icon class="edit" name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="account" padding>

  <ion-refresher (ionRefresh)="getUser($event)">
    <ion-refresher-content refereshingSpinner="none" pullMin="500"></ion-refresher-content>
  </ion-refresher>

  <ion-card class="card card-md" text-center>

    <ion-card-header>
      <div class="avatar-wrapper">
        <div class="img-wrapper">
            <div class="circle">
                <div>
                    <img src="../../assets/imgs/layout_green/ic_person_blue.png">
                </div>
              </div>
        </div>
        <ion-title class="username">
          {{account.name}}
        </ion-title>
        <ion-title class="position">
          {{account.position}}
        </ion-title>
      </div>
    </ion-card-header>

    <ion-card-content>

      <div class="content-wrapper">
        <ion-row>
          <ion-col col-5>
            <span>Giới tính: </span>
          </ion-col>
          <ion-col col-7>
            <div class="row-item title-name">{{account.genderText}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <span>Số điện thoại: </span>
          </ion-col>
          <ion-col col-7>
            <div class="row-item title-name">{{account.phone}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <span>Sinh nhật: </span>
          </ion-col>
          <ion-col col-7>
            <div class="row-item title-name">{{account.birthdayText}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <span>Ngày tham gia: </span>
          </ion-col>
          <ion-col col-7>
            <div class="row-item title-name">{{account.created_atText}}</div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf = "account.userRoleId === 2">
          <ion-col col-5>
            <span>Số dư trong ví</span>
          </ion-col>
          <ion-col col-7>
            <div class="row-item title-name">{{account.amountText}} đ</div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf = "account.userRoleId === 3">
            <ion-col col-5>
              <span>Điểm tích lũy </span>
            </ion-col>
            <ion-col col-7>
              <div class="row-item title-name">{{account.point || 0}} điểm</div>
            </ion-col>
          </ion-row>
      </div>

      <div class="content-wrapper">
        <ion-row>
          <ion-col col-5>
            <span>Email: </span>
          </ion-col>
          <ion-col col-7>
            <div class="row-item title-name nowrapright">{{account.email}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <span>Địa chỉ: </span>
          </ion-col>
          <ion-col col-7>
            <div class="row-item title-name">{{account.address}}</div>
          </ion-col>
        </ion-row>
      </div>

      <ion-row margin-top>
          <div class="icon">
            <img src="../../assets/imgs/layout_green/ic_security.png" alt=""><br />
            <span class="protect">
              Thông tin của bạn đã được mã hóa và bảo đảm an toàn theo quy định của pháp luật.
            </span>
          </div>
        </ion-row>
    </ion-card-content>

  </ion-card>

</ion-content>