page-userinformation {
    form {
        padding: 20px;
    }
    .refresher-refreshing .spinner-crescent circle, .refresher-refreshing .spinner-ios line, .refresher-refreshing .spinner-ios-small line{
        stroke : white;
     }
    .img-wrapper {
        display: inline-block;
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
    .circle {
        position: relative;
        display: inline-block;
        height: 120px;
        background-color: #fff;
        top: 25px;
        border-radius: 50%;
        img{
            transform: rotate(-45deg);
        }
    }
    .circle >div {
      top: 0;
      left: 0;
    }
    .circle >div {
      position: relative;
    
      width: 100px;
      height: 100px;
      border-left: 2px solid $color-1;
      border-top: 2px solid $color-1;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      border-radius: 50px;
      transform: rotate(45deg);
    }
    .content-wrapper {
        text-align: left;
        border-radius: 10px;
        background-color: white;
        border: 2px solid $color-1;
        .row {
            padding: 3px 20px;
            border-bottom: 1px solid #EEEEEE;
            &:last-child {
                border-bottom: none;
            }
        }
        &:first-child {
            margin-bottom: 20px;
        }
        span , .row-item{
            color: $color-2;
        }
    }
    .card-content {
        padding: 0;
    }
    .card {
        background: transparent;
        box-shadow: none;
        width: 100%;
        margin: 40px 0 0;
        text-align: center;
    }
    ion-card {
        margin: 0;
    }
    .card-header {
        // background-color: #FF8C00;
    }
    .avatar-wrapper {
        margin-top: 75px;
        padding-bottom: 20px;
        border-radius: 10px;
        background-color: white;
        .img-wrapper {
            margin-top: -75px;
        }
        border: 2px solid $color-1;
    }
    ion-content {
        background-color: white !important;
    }
    .card-header-md+.card-content-md,
    .card-md .item+.card-content-md {
        padding: 20px;
    }
    .row-item {
        font-size: 12px;
        padding-left: 10px;
        font-family: $Roboto;
    }
    span {
        font-size: 12px;
        font-family: $RobotoReg;
    }
    .title-name {
        font-size: 1.8 rem !important;
        text-align: right;
    }
    .nowrapright{
        position: absolute;
        right: 5px;
        max-width: 220px;
    }
    
    .toolbar-title {
        color: #FE7400;
        font-size: 18px;
        text-transform: uppercase;
    }
    .position {
        .toolbar-title {
            text-transform: none;
            font-size: 14px;
            color: #999999;
            font-family: $Roboto;
        }   
    }
    .protect {
        .toolbar-title {
            text-transform: none;
            font-size: 14px;
            color: #999999;
            font-family: $Roboto;
            padding-left: 0;
        }  
    }
    .protect-wrapper {
        img {
            width: 24px;
        }
        .item-button {
            margin-right: 0;
        }
    }
    ion-content{
        .scroll-content{
            background: $backgound-1 !important;
        }
    }
    .username{
        .toolbar-title{
            color: $colorButton !important;
            position: relative;
            top: -8px;
        }
    }
    .position{
        .toolbar-title{
            color: $color-1 !important;
            text-transform: uppercase;
        }
    }
    .icon {
        text-align: center;
        color: $color-2;
        &.edit {
            font-size: 30px;
            color: white;
        }
    }
    .icon img{
        height: 30px;
        width: 30px;
        margin: auto;
    }
}