<!--
  Generated template for the MyQrCodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mã QR của tôi</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >

  <ion-grid *ngIf="qrCodeImgList.length">
    <div class="img-wrapper" text-center *ngIf="userRole === 3">
      <img class="main-img" src="https://pacificgo.asia/secret/qr/{{qrCodeImgList[currentIndex].name}}">
    </div>
  </ion-grid>

  <ion-grid *ngIf="qrCodeImg">
    <div class="img-wrapper" text-center *ngIf="userRole !== 3">
      <img class="main-img" src="{{qrCodeImg}}">
    </div>
  </ion-grid>

  <ion-grid class="grid-slider" *ngIf="userRole === 3">
    <ion-row>
      <ion-slides #slides>
        <ion-slide *ngFor="let item of qrCodeImgList; let i = index">
          <div (click)="slideChanged(i)" text-center padding>
            <img src="https://pacificgo.asia/secret/qr/{{item.name}}" [ngClass]="{'active': i === currentIndex}">
            <button *ngIf = "i !== 0" class="close" (click) = "removeImage($event, item.name)">
                <span>×</span>
            </button>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

  <div text-center *ngIf="userRole === 3">
    <label class="disable-hover button button-md button-default button-default-md button-md-secondary labelFile" for="myFileInput">Thêm mã mới</label>
    <input hidden type="file" id="myFileInput" accept="image/*" (change)="addFile($event)">
  </div>
  
</ion-content>