page-my-qr-code {
    .grid-slider {
        background-color: white;
        padding: 10px 10px 5px 10px;
    }

    .active {
        border: solid 5px orange;
        border-radius: 10px;
    }

    .img-wrapper {
        padding: 50px 10%;

        img {
            max-height: 300px;
            border: solid 10px white;
            border-radius: 5px;
        }
    }

    .labelFile {
        height: auto;
        margin-top: 50px;
        padding: 15px 100px !important;
        background: #FE7400;
        border-radius: 30px;
        font-size: 16px;
        color: white !important;
        outline: none !important;
        border: none !important;
        font-family: $RobotoBold;
    }

    .swiper-slide {
        img {
            max-height: 115px;
        }
    }

    ion-content {
        .scroll-content {
            background: $backgound-1 !important;
        }
    }

    .close {
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 50%;
      border: solid 1px grey;
      width: 25px;
      background: white;
      z-index: 10;
      padding: 0 5px;
      height: 25px;
    }

    button.close {
      float: right;
      font-size: 21px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .6;
      span {
          vertical-align: super;
      }
    }
}