<!--
  Generated template for the InformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Thông tin app</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="img-container" text-center>
    <a href="http://pacificgo.asia"><img src="../../assets/imgs/logo_pacificgo.png" /></a>
    <p class="version">PHIÊN BẢN 1.0</p>
  </div>

  <div class="infor-container">
    <div *ngIf="infoApp">
      <ion-row class="wrapper-info-payment" *ngFor="let item of infoApp">
        <div col-12>
          <div class="img-wrapper">
            <p class="version">PHIÊN BẢN 1.0</p>
            <p>- Chức năng tạo tài khoản và đăng nhập</p>
            <p>- Chức năng Doanh nghiệp, dễ dàng quản lý doanh số từ cộng đồng Pacific</p>
            <p>- Chức năng Thành viên PacificLink, dễ dàng quản lý lợi nhuận, quản lý lịch sử lợi nhuận từ chia sẻ và liên kết</p>
            <p>- Chức năng cho thành viên PacificGo, dễ dàng quản lý lịch sử tiêu dùng, lịch sử khuyến mãi và điểm thưởng, sử dụng điểm thưởng</p>
            <p></p>
            <p style="font-style: italic">* Cập nhật ngày 01/03/2019</p>
            <!-- <p class="info-app">{{item.description}}</p> -->
          </div>
        </div>
      </ion-row>
    </div>
  </div>
</ion-content>