
page-information {
    
    .img-container {
        padding: 30px 0;
        img {
            max-width: 300px;
        }
    }
    .infor-container {
        border-radius: 10px;
        background-color: white;
        color: #666666;
    }
    .row {
        padding: 0 20px;
    }
    .version{
        color: #fff;
    }
    ion-content {
        .scroll-content{
            background: linear-gradient(150.64deg, $color-1 0%, $color-2 100%) !important;
        }
    }
}
