<ion-header>
    <ion-navbar color="red">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Giao dịch tháng {{currentMonth}} / {{currentYear}}
        <span *ngIf = 'length'>{{'(' + length + ')'}}</span>
      </ion-title>
      <!-- <ion-buttons end>
        <button style="background: transparent" (tap)="toggleSearch()">
          <ion-icon class="btn-icon" name="ios-search"></ion-icon>
        </button>
        <button style="background: transparent" (tap)="filter()">
          <ion-icon class="btn-icon" name="md-list"></ion-icon>
        </button>
      </ion-buttons> -->
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refereshingSpinner="none" pullMin="500"></ion-refresher-content>
    </ion-refresher>
    <ion-searchbar *ngIf="onSearch" [(ngModel)]="searchText" placeholder="Tìm kiếm ..." showCancelButton (ionInput)="search($event)"
      (ionCancel)="clearSearch($event)">
    </ion-searchbar>
    <div class="wrapper">
      <ion-list *ngIf = "listSearch.length" class ="search-autocomplete">
        <ion-item *ngFor="let item of listSearch" (click) = "selectSearch(item._id)">
          {{ item.name }}
        </ion-item>
      </ion-list>  
    </div>
  
    <div class="total-amount">
      <p>
        TỔNG SỐ TIỀN {{isMember ? 'ĐÃ RÚT' : (isPay ? "ĐÃ NẠP" : "ĐÃ CHIẾT KHẤU")}}
      </p>
      <h1>
        {{totalAmountText}}
      </h1>
    </div>
    <div *ngIf="listTransaction && listTransaction.length">
      <div  *ngFor="let transaction of listTransactionCurrent; let i = index">
        <div class="item-containter">
          <span class="item-time">Ngày {{showTime[i]}}</span>
          <div class="item-wrapper">
            <ion-grid>
              <ion-row (click)="gotoWithdrawalDetai(item)" *ngFor="let item of transaction">
                <ion-col col-7 text-left class="item-pay">
                  <p >Số tiền {{isMember ? 'đã rút' : (isPay ? "đã nạp" : "đã chiết khấu")}} </p>
                  <p class="time">{{item.created_atText}}</p>
                </ion-col>
                <ion-col col-5 text-right class="item-amount">{{item.discountText}}</ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!listTransaction || !listTransaction.length">
      <h1 style="width:100%" margin-top text-center>Chưa có giao dịch nào!</h1>
    </div>
  </ion-content>