<!--
  Generated template for the CasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Trang chủ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="wrapper-home">
    <ion-grid>
      <ion-row>
        <div class="item-case" col-4>
          <div class="wrapper-case">
              <img alt="" src="../../assets/imgs/qr-code.png" />
              <div class="case-name">
                <span>QR CODE</span>
              </div>
          </div>
        </div>

        <div class="item-case" col-4>
            <div class="wrapper-case">
                <img alt="" src="../../assets/imgs/credit-card.png" />
                <div class="case-name">
                  <span>Lịch sử</span>
                </div>
            </div>
          </div>

          <div class="item-case" col-4>
              <div class="wrapper-case">
                  <img alt="" src="../../assets/imgs/gift.png" />
                  <div class="case-name">
                    <span>Ưu đãi</span>
                  </div>
              </div>
            </div>

            <div class="item-case" col-4>
                <div class="wrapper-case">
                    <img alt="" src="../../assets/imgs/online-store.png" />
                    <div class="case-name">
                      <span>Thông tin</span>
                    </div>
                </div>
            </div>

            <div class="item-case" col-4>
                <div class="wrapper-case">
                    <img alt="" src="../../assets/imgs/info.png" />
                    <div class="case-name">
                      <span>Giới thiệu</span>
                    </div>
                </div>
            </div>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
