page-case {
    .item-case {
        // border: 1px solid black;
        background: beige;
        .wrapper-case {
            padding: 1.5rem;
            .case-name {
                text-align: center;
                font-weight: bold;
                span {
                    text-transform: uppercase;
                    padding-top: 5px;
                }
            }
        }
    }
}
