<!--
  Generated template for the DetailHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Thông tin chi tiết</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="detailData.type === 1 || detailData.type === 5" class="wrapper">
    <div class="total-amount">
      <p>SỐ TIỀN GIAO DỊCH</p>
      <h1 [ngClass]="{'active-1': detailData.type === 1}">
        {{detailData.discountText}}
      </h1>
      <p *ngIf="detailData.type === 1">{{detailData.member}}</p>
      <p *ngIf="detailData.type === 2 || detailData.type === 5">Thanh toán cho
        {{detailData.partner}}</p>
    </div>
    <div>
      <div>
        <div class="item-containter">
          <span class="item-time">CHI TIẾT GIAO DỊCH</span>
          <div class="item-wrapper">
            <ion-grid>
              <ion-row>
                <ion-col col-5 text-left class="item-pay">Loại giao dịch</ion-col>
                <ion-col col-7 text-right class="item-pay" *ngIf="detailData.type === 1">Nhận tiền thanh toán</ion-col>
                <ion-col col-7 text-right class="item-pay" *ngIf="detailData.type === 2 || detailData.type === 5">Thanh
                  toán</ion-col>
              </ion-row>
              <ion-row *ngIf = "userRoleId === 2">
                <ion-col col-5 text-left class="item-pay">Chiết khấu cho thành viên</ion-col>
                <ion-col col-7 text-right class="item-pay">{{detailData.member}}</ion-col>
              </ion-row>
              <ion-row *ngIf = "userRoleId === 2">
                <ion-col col-5 text-left class="item-pay">Số tiền chiết khấu</ion-col>
                <ion-col col-7 text-right class="item-pay">{{detailData.memberText}}</ion-col>
              </ion-row>
              <ion-row *ngIf = "userRoleId === 2">
                <ion-col col-5 text-left class="item-pay">Số tiền chiết khấu cho công ty:</ion-col>
                <ion-col col-7 text-right class="item-pay">{{detailData.pacificText}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-5 text-left class="item-pay">Phí giao dịch</ion-col>
                <ion-col col-7 text-right class="item-pay">Miễn phí</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-5 text-left class="item-pay">Thời gian</ion-col>
                <ion-col col-7 text-right class="item-pay">{{detailData.created_atText}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-5 text-left class="item-pay">Mã giao dịch</ion-col>
                <ion-col col-7 text-right class="item-pay">{{detailData._id}}</ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="detailData.type === 3 || detailData.type === 6" class="wrapper">
    <div class="total-amount">
      <p>HOA HỒNG TỪ CHIA SẺ</p>
      <h1 class="active-1">
        {{detailData.introducerText}}
      </h1>
      <p>Từ {{detailData.partner}}</p>
    </div>
    <div>
      <div>
        <div class="item-containter">
          <span class="item-time">CHI TIẾT GIAO DỊCH</span>
          <div class="item-wrapper">
            <ion-grid>
              <ion-row>
                <ion-col col-5 text-left class="item-pay">Loại giao dịch</ion-col>
                <ion-col col-7 text-right class="item-pay">Hoa hồng chia sẻ</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-5 text-left class="item-pay">Phí giao dịch</ion-col>
                <ion-col col-7 text-right class="item-pay">Miễn phí</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-5 text-left class="item-pay">Thời gian</ion-col>
                <ion-col col-7 text-right class="item-pay">{{detailData.created_atText}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-5 text-left class="item-pay">Mã giao dịch</ion-col>
                <ion-col col-7 text-right class="item-pay">{{detailData._id}}</ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="detailData.type === 2 || detailData.type === 4 || detailData.type === 6" class="wrapper">
    <div class="total-amount">
      <p>HOA HỒNG TỪ LIÊN KẾT</p>
      <h1 class="active-1">
        {{detailData.memberText}}
      </h1>
      <p>Từ {{detailData.customer}}</p>
    </div>
    <div>
      <div>
        <div class="item-containter">
          <span class="item-time">CHI TIẾT GIAO DỊCH</span>
          <div class="item-wrapper">
            <ion-grid>
              <ion-row>
                <ion-col col-5 text-left class="item-pay">Loại giao dịch</ion-col>
                <ion-col col-7 text-right class="item-pay">Hoa hồng liên kết</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-5 text-left class="item-pay">Phí giao dịch</ion-col>
                <ion-col col-7 text-right class="item-pay">Miễn phí</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-5 text-left class="item-pay">Thời gian</ion-col>
                <ion-col col-7 text-right class="item-pay">{{detailData.created_atText}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-5 text-left class="item-pay">Mã giao dịch</ion-col>
                <ion-col col-7 text-right class="item-pay">{{detailData._id}}</ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>