<!--
  Generated template for the DetailHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nhận quà khuyến mãi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-content padding>
    <div class="input-login">
      <form>
        <div class="content-wrapper">
          <ion-grid>
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Khuyến mãi: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent text-right class="border-input">
                  <span class="no-input">{{detailData.name}}</span>
                  <button style="visibility: hidden" class="manage-password" ion-button icon-only clear color="dark" type="button" item-right>
                    <ion-icon class="edit" name="ios-create-outline"></ion-icon>
                  </button>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Điểm thưởng hiện có: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent text-right class="border-input">
                  <span class="no-input">{{discount}}</span>
                  <button style="visibility: hidden" class="manage-password" ion-button icon-only clear color="dark" type="button" item-right>
                    <ion-icon class="edit" name="ios-create-outline"></ion-icon>
                  </button>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Tổng điểm đổi quà: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent text-right class="border-input">
                  <span class="no-input">{{total}}</span>
                  <button style="visibility: hidden" class="manage-password" ion-button icon-only clear color="dark" type="button" item-right>
                    <ion-icon class="edit" name="ios-create-outline"></ion-icon>
                  </button>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Số lượng quà muốn đổi: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent text-right class="border-input">
                  <ion-input required type="number" placeholder="Nhập số lượng quà muốn đổi ..." [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="quantity" max="10000" min="1" (ionChange)="calculatoPoint()"></ion-input>
                  <button class="manage-password" ion-button icon-only clear color="dark" type="button" item-right>
                    <ion-icon class="edit" name="ios-create-outline"></ion-icon>
                  </button>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Điểm thưởng còn lại: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent text-right class="border-input">
                  <span class="no-input">{{discount - total}}</span>
                  <button style="visibility: hidden" class="manage-password" ion-button icon-only clear color="dark" type="button" item-right>
                    <ion-icon class="edit" name="ios-create-outline"></ion-icon>
                  </button>
                  
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Họ và tên: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent text-right class="border-input">
                  <ion-input required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="persionalInfor['name']"
                    [disabled]="isUseDefault" placeholder="Nhập họ và tên ..." maxlength="100"></ion-input>
                  <button class="manage-password" ion-button icon-only clear color="dark" type="button" item-right>
                    <ion-icon class="edit" name="ios-create-outline"></ion-icon>
                  </button>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Số điện thoại: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent text-right class="border-input">
                  <ion-input required type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="persionalInfor['phone']"
                    [disabled]="isUseDefault" placeholder="Nhập số điện thoại ..." maxlength="100"></ion-input>
                  <button class="manage-password" ion-button icon-only clear color="dark" type="button" item-right>
                    <ion-icon class="edit" name="ios-create-outline"></ion-icon>
                  </button>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4 class="padding-14">
                <span>Địa chỉ: </span>
              </ion-col>
              <ion-col col-8>
                <ion-item no-padding transparent text-right class="border-input">
                  <ion-input required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="persionalInfor['address']"
                    [disabled]="isUseDefault" placeholder="Địa chỉ nhận quà ..." maxlength="100"></ion-input>
                  <button class="manage-password" ion-button icon-only clear color="dark" type="button" item-right>
                    <ion-icon class="edit" name="ios-create-outline"></ion-icon>
                  </button>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="content-wrapper">
          <ion-grid>
            <ion-row>
              <ion-item class="item-check">
                <ion-label>Dùng địa chỉ đăng kí của tôi</ion-label>
                <ion-checkbox [ngModelOptions]="{standalone: true}" item-right mode="ios" color="success" [(ngModel)]="isUseDefault" name="confirm" (ionChange)="setValue()"></ion-checkbox>
              </ion-item>
            </ion-row>
          </ion-grid>
        </div>

        <div class="btn-wrapper">
          <button class="button-login" [disabled]="disabled" ion-button center button-clear-outline round outline
            (click)="payment()">
            Đổi quà
          </button>
        </div>

        <div class="message-wrapper" text-center>
          <p class="error-message" *ngIf="disabled" text-center>Không đủ điểm thưởng để đổi quà!</p>
        </div>

      </form>

    </div>
  </ion-content>

</ion-content>