page-pay-promo {
    .input-login{
        border: 2px solid $color-1;
        border-radius: 5px;
    }
    color: #666666;
    .content-wrapper {
        text-align: left;
        border-radius: 10px;
        background-color: white;
        .row {
            padding: 3px 20px;
            border-bottom: 1px solid #EEEEEE;
            &:last-child {
                border-bottom: none;
            }
        }
        &:first-child {
            margin-bottom: 20px;
        }
    }
    input.text-input {
        margin: 0;
        padding-right: 40px;
        font-family: $Roboto;
        text-align: right;
        font-size: 14px;
    }
    .button-login {
        margin-top: 24px;
        margin-bottom: 24px;
        background-color: #FE7400;
    }
    .item.item-block {
        min-height: 32px;
        max-height: 32px;
        .item-button {
            margin: 9px 0px 4px 0;
        }
    }
    .padding-14 {
        padding-top: 14px;
    }
    .border-input .no-input {
        margin-right: 32px;
    }
    ion-content{
        .scroll-content{
            background: $backgound-1 !important;
        }
    }
}