page-qrcode {
  .img-center {
    position: absolute;
    top: calc(50% - 28px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ion-content {
    position: relative;
  }

    .preloader-scan {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 180px;
      height: 180px;
      transform: translate(-50%, -50%);
      overflow: hidden;
      .laser {
        background-color: rgba(200, 17, 17, 0.63);
        width: 100%;
        height: 1px;
        z-index: 2;
        box-shadow: 3px -3px 20px 2px red;
        animation: scanning 6s infinite;
      }
      &:before,  &:after, em:after, em:before {
        border-color: white;
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-width: 0px;
        z-index: 2;
      }
      &:before {
        left: 0;
        top: 0;
        border-left-width: 3px;
        border-top-width: 3px;
      }
      &:after {
        right: 0;
        top: 0;
        border-right-width: 3px;
        border-top-width: 3px;
      }
      em:before {
        left: 0;
        bottom: 0;
        border-left-width: 3px;
        border-bottom-width: 3px;
      }
      em:after {
        right: 0;
        bottom: 0;
        border-right-width: 3px;
        border-bottom-width: 3px;
      }
    
      .diode {
        // animation: beam .0s infinite;
      }
    
    }
    
    body {
      height: 100%;
    }
    
    @keyframes beam {
      50% {
        opacity: 0;
      }
    }
    
    @keyframes scanning {
      50% {
        transform: translateY(176px);
      }
    }

}
