<!--
  Generated template for the QrcodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Quét QR Code</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <img class ="img-center" src="../../assets/imgs/focus.png" alt=""> -->
  <!-- <div class="focus">

  </div> -->
  <div class="preloader-scan" *ngIf  = "isAccept">
      <em></em>
    <div class="diode">
      <div class="laser"></div>
    </div>
  </div>
</ion-content>