page-wallet {
    .total-amount {
        width: 100%;
        height: 220px;
        padding: 0 30px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        background-image: url('../../assets/imgs/layout_green/bg_1.jpg');
        background-repeat: repeat-x;
        background-size: 100% 100%;
        text-align: center;
        overflow: hidden;
        p {
            font-size: 14px;
            margin: 25px 0;
            color: #004cff;
            font-weight: bold;
        }
        h1 {
            font-size: 30px;
            font-family: $RobotoBold;
            color: black;
            margin: 17px 0;
            color: #FE7400;
            text-shadow: 2px 2px 2px #000;
        }
    }
    .wallet--body {
        margin-top: -30px;
        padding: 0 20px;
        &--card {
            margin-bottom: 20px;
            padding: 10px 10px 10px 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            &.item.item-block {
                background-color: white;
            }
            img {
                max-width: 24px;
            }
            .label {
                margin: 0;
            }
            .card {
                &-title {
                    .toolbar-title {
                        color: #666666;
                        font-size: 14px;
                    }
                }
                &-quantity {
                    .toolbar-title {
                        color: #999999;
                        font-size: 12px;
                    }
                }
            }
        }
        .button-arrow {
            margin-right: 0;
            padding-right: 0;
        }
    }
    .button-login {
        margin-top: 30px;
        background-color: #FE7400;
    }
    .toolbar-title-ios {
        text-align: left;
    }
    .customer .total-amount{
        h1 {
            font-size: 70px;
            color: green;
        }
        p {
            margin: 50px 0 20px;
            font-size: 20px;
        }
    }
}