<!--
  Generated template for the WalletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ví của tôi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="wallet--header">
    <div class="wallet--header--content" [ngClass] = "{'customer': userRoleId === 3}">
      <div class="total-amount">
        <p>
          {{userRoleId === 3 ? "SỐ ĐIỂM HIỆN TẠI" : "SỐ DƯ TRONG VÍ"}}
        </p>
        <h1>
          {{discount}}
        </h1>
      </div>
    </div>
    <div class="wallet--body">

      <!-- Start Wallet of Partner -->
      <ion-item no-padding class="wallet--body--card" (click)="gotoWithDrawal(true)" *ngIf="userRoleId === 2">
        <button ion-button clear color="light" type="button" item-left>
          <img src="../../assets/imgs/icon-credit-card.png" alt="">
        </button>
        <ion-title class="card-title">Lịch sử nạp thẻ</ion-title>
        <ion-title class="card-quantity">{{withDrawal.length}} giao dịch</ion-title>
        <button ion-button clear color="light" type="button" item-right class="button-arrow">
          <img src="../../assets/imgs/icon-right-arrow.png" alt="">
        </button>
      </ion-item>

      <ion-item no-padding class="wallet--body--card" (click)="gotoWithDrawal(false)" *ngIf="userRoleId === 2">
          <button ion-button clear color="light" type="button" item-left>
            <img src="../../assets/imgs/icon-credit-card.png" alt="">
          </button>
          <ion-title class="card-title">Lịch sử chiết khấu</ion-title>
          <ion-title class="card-quantity">{{discountList.length}} giao dịch</ion-title>
          <button ion-button clear color="light" type="button" item-right class="button-arrow">
            <img src="../../assets/imgs/icon-right-arrow.png" alt="">
          </button>
        </ion-item>
        

      <!-- <ion-item no-padding class="wallet--body--card" (click)="gotoCardLink(true)" *ngIf="userRoleId === 2">
        <button ion-button clear color="light" type="button" item-left>
          <img src="../../assets/imgs/icon-gift-card.png" alt="">
        </button>
        <ion-title class="card-title">Thẻ quà tặng</ion-title>
        <ion-title class="card-quantity">10 thẻ</ion-title>
        <button ion-button clear color="light" type="button" item-right class="button-arrow">
          <img src="../../assets/imgs/icon-right-arrow.png" alt="">
        </button>
      </ion-item> -->

      <!-- End Wallet of Partner -->

      <!-- Start Wallet of Member -->
      <ion-item no-padding class="wallet--body--card" (click)="gotoWithDrawal(false, true)" *ngIf="userRoleId === 4">
        <button ion-button clear color="light" type="button" item-left>
          <img src="../../assets/imgs/icon-gift-card.png" alt="">
        </button>
        <ion-title class="card-title">Lịch sử rút tiền</ion-title>
        <ion-title class="card-quantity">0 giao dịch</ion-title>
        <button ion-button clear color="light" type="button" item-right class="button-arrow">
          <img src="../../assets/imgs/icon-right-arrow.png" alt="">
        </button>
      </ion-item>
      <!-- End Wallet of Member -->

    </div>
    <div class="wallet-footer">
      <ion-row>
        <div class="btn-wrapper">
          <!-- Start button for Partner -->
          <button class="button-login" ion-button button-clear-outline round outline (click)="openWithDrawal()" *ngIf="userRoleId === 2">
            Nạp tiền vào ví
          </button>
          <!-- End button for Partner -->

          <!-- Start button for Member -->
          <button class="button-login" ion-button button-clear-outline round outline (click)="gotoWithDrawalRequest()" *ngIf="userRoleId === 4">
            Yêu cầu rút tiền
          </button>
          <!-- End button for Member -->

        </div>

      </ion-row>
    </div>
  </div>

</ion-content>