<!--
  Generated template for the DetailHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Thông tin chi tiết</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="total-amount">
    <p>SỐ TIỀN {{ isMember ? "ĐÃ RÚT" : (isPay ? "ĐÃ NẠP" : "ĐÃ CHIẾT KHẤU")}}</p>
    <h1 class="active">
      {{detailData.totalAmountText}}
    </h1>
  </div>
  <div>
    <div>
      <div class="item-containter">
        <span class="item-time">CHI TIẾT GIAO DỊCH</span>
        <div class="item-wrapper">
          <ion-grid>
            <ion-row>
              <ion-col col-5 text-left class="item-pay">Loại giao dịch</ion-col>
              <ion-col col-7 text-right class="item-pay">{{isMember ? "Đã rút" : (isPay ? "Nạp tiền":"Chiết khấu")}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5 text-left class="item-pay">Mã giao dịch</ion-col>
              <ion-col col-7 text-right class="item-pay">{{isMember ? detailData.id : detailData.reference_number}}</ion-col>
            </ion-row>

            <ion-row *ngIf="isMember">
              <ion-col col-5 text-left class="item-pay">Ngân hàng</ion-col>
              <ion-col col-7 text-right class="item-pay">{{detailData.bankname}}</ion-col>
            </ion-row>

            <ion-row *ngIf="isMember">
              <ion-col col-5 text-left class="item-pay">Chi nhánh</ion-col>
              <ion-col col-7 text-right class="item-pay">{{detailData.bankaddress}}</ion-col>
            </ion-row>

            <ion-row *ngIf="isMember">
              <ion-col col-5 text-left class="item-pay">Chủ tài khoản</ion-col>
              <ion-col col-7 text-right class="item-pay">{{detailData.bankaccountholder}}</ion-col>
            </ion-row>

            <ion-row *ngIf="isMember">
              <ion-col col-5 text-left class="item-pay">Số tài khoản</ion-col>
              <ion-col col-7 text-right class="item-pay">{{detailData.bankaccount}}</ion-col>
            </ion-row>
            <ion-row *ngIf="isPay">
              <ion-col col-5 text-left class="item-pay">Người {{isPay ? "nạp tiền":"rút tiền"}}</ion-col>
              <ion-col col-7 text-right class="item-pay">{{detailData.bill_to_surname + ' ' +
                detailData.bill_to_forename}}</ion-col>
            </ion-row>
            <ion-row *ngIf="isPay">
              <ion-col col-5 text-left class="item-pay">Số điện thoại</ion-col>
              <ion-col col-7 text-right class="item-pay">{{detailData.bill_to_phone}}</ion-col>
            </ion-row>
            <ion-row *ngIf="isPay">
              <ion-col col-5 text-left class="item-pay">Loại thẻ</ion-col>
              <ion-col col-7 text-right class="item-pay">{{detailData.payment_type}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5 text-left class="item-pay">Phí giao dịch</ion-col>
              <ion-col col-7 text-right class="item-pay">Miễn phí</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5 text-left class="item-pay">Thời gian</ion-col>
              <ion-col col-7 text-right class="item-pay">{{detailData.created_atText}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5 text-left class="item-pay">Ghi chú</ion-col>
              <ion-col col-7 text-right class="item-pay">{{detailData.transaction_info}}</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
</ion-content>