<!--
  Generated template for the AddCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Quản lý thẻ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="wallet-card">
    <form action="" [formGroup]="wallet">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label stacked>Số thẻ</ion-label>
              <ion-input transparent autofocus text-center disabled formControlName="cardNumber"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
            <ion-item>
              <ion-label stacked>Ngày hết hạn(dd/mm/yyyy)</ion-label>
              <ion-datetime displayFormat="YYYY/MM/DD" disabled formControlName="expiryDate" text-center></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item>
              <ion-label stacked>CVV</ion-label>
              <ion-input transparent autofocus text-center disabled formControlName="cvv"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label stacked>Họ tên in trên thẻ</ion-label>
              <ion-input transparent disabled formControlName="name" autofocus text-center></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>


  </div>
  <div class="wallet-footer">
    <ion-row>
      <div class="btn-wrapper">
        <button class="button-login" ion-button button-clear-outline round outline (click)="gotoAddcard()">
          Thêm thẻ mới
        </button>
      </div>
    </ion-row>
  </div>
</ion-content>