<ion-menu [content]="content" (ionOpen)="enableSwipe()" (ionClose)="disableSwipe()">

  <ion-header class="menu-header">
    <ion-item>
      <div class="item">
        <div class="avatar">
          <img src="{{userInfor.avatar || 'assets/imgs/boy.png'}}">
        </div>
      </div>
      <div class="item">
        <span class="username">{{userInfor.name}}</span>
        <span class="phone">{{positon[userInfor.userRoleId]}}</span>
      </div>
    </ion-item>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

  <ion-footer class="menu-content menu-footer">
    <button ion-item detail-none menuClose ion-item (click)="changePassword()">
      Đổi mật khẩu
    </button>
    <button ion-item detail-none menuClose ion-item (click)="logOut()">
      Đăng xuất
    </button>
    <p class="copyright">&copy; PacificGo App</p>
  </ion-footer>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>